<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.report.mapper.ReportMapper">
    <select id="getHangTagReortList" resultType="com.base.sbc.module.report.vo.HangTagReportVo">
        select
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            t.bulk_style_no,
            t1.style_color_pic,
            t1.ware_code,
            t1.color_name,
            t1.color_code,
            concat(t1.ware_code, t1.color_code, tbs.sort) as defaultBarCode,
            t1.tag_price,
            t.product_name,
            ts.style_name,
            t1.devt_type_name,
            t2.brand_name,
            t2.year_name,
            t2.season_name,
            t1.band_name,
            ts.prod_category1st_name,
            ts.prod_category2nd_name,
            ts.prod_category3rd_name,
            t.down_content,
            t.ingredient,
            t.special_spec
        </if>
        FROM t_hang_tag t
        INNER JOIN t_style_color t1 ON t.bulk_style_no = t1.style_no
        INNER JOIN t_style ts ON t1.style_id = ts.id
        INNER JOIN t_planning_season t2 ON t1.planning_season_id = t2.id
        LEFT JOIN t_basicsdatum_size tbs ON FIND_IN_SET(tbs.id, ts.size_ids) > 0 and tbs.hangtags = ts.default_size
        ${ew.customSqlSegment}
    </select>


    <select id="getMaterialSupplierQuoteReporList" resultType="com.base.sbc.module.report.vo.MaterialSupplierQuoteVo">
        select
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            t.image_url,
            t.material_code_name,
            t.create_date,
            t.category1_name,
            t.category2_name,
            t.category3_name,
            t1.width_name,
            t.stock_unit_name,
            t.factory_composition,
            t.ingredient,
            CONCAT(t2.color_name,'-',t2.color_code),
            t2.supplier_color_code,
            t1.supplier_name,
            t1.SUPPLIER_MATERIAL_CODE,
            t1.QUOTATION_PRICE,
            t1.production_day,
            t1.order_day,
            t.status,
            t1.fob,
            tss.search_term1 as supplierNameShort,
            t1.minimum_order_quantity,
            t1.minimum_order_quantity_color,
            t.remarks,
            concat(t1.supplier_name,'-',t1.supplier_id),
            t1.supplier_id,
            t.gram_weight,
            t.material_code_old,
            t.distribute,
            t.material_code,
            t.year_name,
            t.season_name
        </if>
        FROM t_basicsdatum_material t
        INNER JOIN t_basicsdatum_material_price t1 ON t.MATERIAL_CODE = t1.MATERIAL_CODE
        INNER JOIN t_basicsdatum_material_color t2 ON t.MATERIAL_CODE = t2.material_code
        INNER JOIN t_smp_supplier tss ON t1.supplier_id = tss.partner
        ${ew.customSqlSegment}
    </select>
</mapper>