<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleOrderBookMapper">
    <!--
        款式管理-订货本
        创建时间：2023-7-3 14:37:29
        版本号：1.0
      -->
	<select id="getStyleOrderBookList" resultType="com.base.sbc.module.style.vo.StyleOrderBookPageVo">
		SELECT
			bc.id,
			b.id as book_id,
			bc.order_book_code,
			bc.style_no,
		    t1.style_color_pic,
			t1.color_name,
			bc.group_flag,
			bc.group_code,
			
			bc.order_book_status,
			bc.design_status,
			bc.quadruple_price,
			bc.design_say,
			bc.plan_status,
			bc.plan_user_id,
			bc.plan_user_name,
			bc.fabric_tag_price,
			bc.product_plan_status,
			bc.product_plan_user_id,
			bc.product_plan_user_name,
			bc.production_date,
			bc.warehous_date,
			bc.urgency,
			bc.urgency_name,
			bc.magnification,
			bc.production_total_num,
			bc.size_nums,
			bc.total_num,
			
			b.image_url,
			IFNULL(sg.tag_price,t1.tag_price) tag_price,
			b.meet_flag,
			b.lock_flag,
			
			t1.color_specification,
			t1.sales_type,
			t1.is_trim,
			t1.supplier,
			t1.supplier_no,
			t1.supplier_color,
			
			t2.style_name,
			t2.design_no,
			t2.prod_category_name,
			t2.prod_category1st,
			t2.prod_category,
			t2.prod_category2nd,
			t2.prod_category3rd,
			t2.brand,
			t2.band_code,
			t2.year,
			t2.season,
			t2.month,
			t2.sex,
			t2.devt_type,
			t2.main_materials,
			t2.rd_mat,
			t2.designer,
			t2.designer_id,
			t2.prod_category2nd_name,
			t2.prod_category3rd_name,
			t2.devt_type_name

        FROM
        t_style_order_book_color bc
        LEFT JOIN t_style_order_book b ON bc.order_book_code = b.order_book_code
        LEFT JOIN t_style_group sg on bc.style_no = sg.style_no and sg.del_flag = '0'
        LEFT JOIN t_style_color t1 ON bc.style_no = t1.style_no and t1.del_flag = '0'
        LEFT JOIN t_style t2 on t1.design_no = t2.design_no and t2.del_flag = '0'
        WHERE
        bc.del_flag = '0'
        and bc.company_code = #{dto.companyCode}
        	<if test="dto.orderBookCode != null and dto.orderBookCode != ''">
				and bc.order_book_code like "%"#{dto.orderBookCode}"%"
			</if>

			<if test='dto.type == "design" and dto.userId != null and dto.userId != ""'>
				and t2.designer_id = #{dto.userId}
			</if>
			<if test='dto.type == "plan" and dto.userId != null and dto.userId != ""'>
				and bc.plan_user_id = #{dto.userId}
			</if>
			<if test='dto.type == "productPlan" and dto.userId != null and dto.userId != ""'>
				and bc.product_plan_user_id = #{dto.userId}
			</if>
			<if test="null != dto.search and '' != dto.search">
				and (t1.design_no LIKE concat('%',#{dto.search},'%')
				or bc.style_no LIKE concat('%',#{dto.search},'%'))
			</if>
		<if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
			${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
		</if>
		ORDER BY bc.order_book_code desc	
	</select>
</mapper>