<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleColorCorrectInfoMapper">

    <select id="findList" resultType="com.base.sbc.module.style.vo.StyleColorCorrectInfoVo">
        select tcci.id,
               tsc.id                styleColorId,
--                tppst.id                productionSampleId,
               tpi.id                packInfoId,
               tcci.technology_correct_date,
               tcci.technology_check_date,
               tsc.tech_receive_time technicsDate,
               tcci.gst_date,
               tcci.plan_control_date,
               tcci.purchase_need_date,
               tcci.purchase_recover_date,
               tcci.auxiliary_date,
               tcci.create_date,
               tcci.create_id,
               tcci.create_name,
               tcci.update_date,
               tcci.update_id,
               tcci.update_name,
               tsc.*,
               ts.style_pic,
               ts.brand,
               ts.brand_name,
               ts.year,
               ts.year_name,
               ts.season,
               ts.season_name,
               ts.prod_category,
               ts.prod_category_name,
               ts.task_level,
               ts.task_level_name,
               tsc.devt_type      as  devtType,
               tsc.devt_type_name as  devtTypeName,
               ts.designer_id,
               ts.designer,
               ts.design_no          designNo,
               ts.technician_name
        FROM t_style_color tsc
                 INNER JOIN t_style ts ON ts.id = tsc.style_id
                 left join t_style_color_correct_info tcci on tcci.style_color_id = tsc.id and tcci.del_flag = '0'
                 left join t_pack_info tpi on tpi.style_color_id = tsc.id and tpi.del_flag = '0'
            ${ew.customSqlSegment}
    </select>

</mapper>