<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleColorMapper">
    <update id="reviseAllStyleNo">

      update  t_style_group
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_style_group_color
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_hang_tag
      set  bulk_style_no = #{nweStyleNo}
      where bulk_style_no = #{styleNo} ;

      update  t_pack_info
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update t_style_main_accessories
      set style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

    </update>
    <!--
        样衣-款式配色
        创建人：mengfanjiang
        邮箱：XX.com
        创建时间：2023-6-28 15:02:46
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <select id="queryDemandOrderSkc" resultType="com.base.sbc.module.style.vo.DemandOrderSkcVo">
        select

        sc.id as styleColorId,
        s.prod_category1st,
        s.prod_category1st_name,
        s.prod_category,
        s.prod_category_name,
        s.prod_category2nd,
        s.prod_category2nd_name,
        s.prod_category3rd,
        s.prod_category3rd_name,
        s.designer,
        s.design_no,
        s.his_design_no,
        s.designer_id,
        sc.style_id ,
        sc.style_no ,
        sc.style_color_pic as stylePic,
        sc.band_code,
        sc.band_name,
        fv.field_id,
        fv.field_name,
        fv.field_explain,
        fv.val,
        fv.val_name
        from
        t_style_color sc
        left join t_style s on (s.id=sc.style_id )
        left join t_field_val fv on(fv.foreign_id=sc.id and fv.del_flag='0' and data_group='STYLE_COLOR')
        where
        s.del_flag='0'
        and sc.del_flag='0'
        and sc.order_flag='1'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="isStyleNoExist" resultType="java.lang.Integer">
        select count(1)
        from t_style_color
        where del_flag = '0' and style_no = #{styleNo}
    </select>

    <select id="getStyleColorNumber" resultType="java.lang.String">
    SELECT MAX(CAST(SUBSTRING(style_no, #{length1}) AS UNSIGNED)) AS max_serial_number
    FROM t_style_color
    WHERE style_no LIKE concat(#{styleNo}, '%')
    </select>
    <select id="getStyleUploadInfo" resultType="com.base.sbc.module.sample.vo.StyleUploadVo">
        SELECT ssc.style_no,
               sd.brand,
               sd.brand_name,
               sd.year,
               sd.year_name,
               sd.season,
               sd.season_name
        FROM t_style_color ssc
                 LEFT JOIN t_style sd on ssc.style_id = sd.id
        where ssc.id = #{styleColorId}
    </select>

    <select id="styleColorList" resultType="com.base.sbc.module.style.vo.StyleColorVo">
        select
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            concat(ts.year_name," ",ts.season_name," ",ts.brand_name) planningSeason,
            ts.task_level,
            ts.task_level_name,
            ts.style_type,
            ts.style_type_name,
            ts.size_range,
            ts.size_range_name,
            ts.merch_design_name,
            ts.pattern_design_name,
            ts.style_pic,
            ts.design_no as designNo,
            ts.prod_category1st,
            ts.prod_category1st_name,
            ts.prod_category,
            ts.prod_category_name,
            ts.his_design_no,
            ts.style_name,
            ts.style_flavour_name,
            ts.designer_id,
            IF(ts.designer != '', SUBSTRING_INDEX(ts.designer, ',', 1), '') as designer,
            ts.technician_id,
            ts.technician_name,
            ts.brand,
            ts.brand_name,
            ts.year,
            ts.year_name,
            ts.season,
            ts.season_name,
            ts.prod_category2nd_name,
            ts.prod_category2nd,
            ts.prod_category3rd as prodCategory3nd,
            ts.prod_category3rd_name as prodCategory3ndName,
            ts.id styleId,
            ts.design_audit_status,
            ts.design_marking_status,
            tsc.*,
            ts.devt_type as devtType,
            ts.devt_type_name as devtTypeName,
            CASE WHEN tsc.is_trim = '0' THEN tsma.style_no ELSE '' END as accessoryNo,
            CASE WHEN tsc.is_trim = '0' THEN tsma.color_name ELSE'' END as accessory1,
        	CASE WHEN tsc.is_trim  = '0' THEN ''ELSE tsma.style_no  END as principalStyleNo,
            CASE WHEN tsc.is_trim = '0' THEN ''ELSE tsma.color_name END as principalStyle,
            tpi.id packInfoId,
            tpi.name infoName,
            tsp.control_confirm,
            tsp.product_hangtag_confirm,
            tsp.control_hangtag_confirm,
--             tppst.technologist_name,
            ts.style_origin_name,
            concat(tsc.ware_code,tsc.color_code,tbs.sort) as defaultBarCode
        </if>
            FROM
            t_style ts
            LEFT JOIN  t_style_color tsc ON (ts.id = tsc.style_id  AND tsc.del_flag = '0')
            LEFT JOIN t_pack_info tpi on tpi.style_no = tsc.style_no
            LEFT JOIN t_style_pricing tsp on tsp.pack_id = tpi.id
--             left join t_pre_production_sample_task tppst on tppst.pack_info_id = tpi.id
            left join 	(SELECT style_color_id ,GROUP_CONCAT(style_no) style_no  ,GROUP_CONCAT(color_name) color_name ,is_trim FROM t_style_main_accessories WHERE del_flag='0' GROUP BY style_color_id)  tsma on (tsma.style_color_id = tsc.id )
            left join t_basicsdatum_size tbs ON FIND_IN_SET(tbs.id,ts.size_ids) > 0 and tbs.hangtags = ts.default_size
            ${ew.customSqlSegment}
        </select>

    <select id="pageBySampleDesign" resultType="com.base.sbc.module.style.entity.Style">
        select ts.*,tsc.style_no bulkyCargoNo from t_style ts
        left join t_style_color tsc on ts.id = tsc.style_id and tsc.del_flag = '0'
        <where>
            <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
                ${ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
            </if>
        </where>
    </select>


    <select id="colorList" resultType="com.base.sbc.module.style.vo.StyleColorVo">
        select
            tsc.*,
            CASE WHEN tsc.is_trim = '0' THEN tsma.style_no ELSE '' END as accessoryNo,
            CASE WHEN tsc.is_trim = '0' THEN tsma.color_name ELSE'' END as accessory1,
        	CASE WHEN tsc.is_trim  = '0' THEN ''ELSE tsma.style_no  END as principalStyleNo,
            CASE WHEN tsc.is_trim = '0' THEN ''ELSE tsma.color_name END as principalStyle,
            if(tsc.color_crash is null or tsc.color_crash = '', ts.color_crash, tsc.color_crash) as colorCrash,
            tpi.id packInfoId,
            tpi.name infoName,
            ts.task_level,
            ts.task_level_name,
            ts.style_type,
            ts.style_type_name,
            ts.size_range,
            ts.size_range_name,
            ts.merch_design_name,
            ts.pattern_design_name,
            ts.id  styleId,
            ts.style_pic,
            ts.design_no designNo,
            ts.prod_category1st,
            ts.prod_category1st_name,
            ts.prod_category,
            ts.prod_category_name,
            ts.his_design_no,
            ts.style_name,
            ts.designer_id,
            ts.designer,
            ts.technician_id,
            ts.technician_name,
            ts.brand,
            ts.brand_name,
            ts.year,
            ts.year_name,
            ts.season,
            ts.season_name,
            ts.prod_category2nd_name,
            ts.prod_category2nd,
            ts.prod_category3rd,
            ts.prod_category3rd_name,
            tsp.control_confirm,
            tsp.product_hangtag_confirm,
            tsp.control_hangtag_confirm,
            ts.devt_type as devtType,
            ts.devt_type_name as devtTypeName,
            concat(tsc.ware_code,tsc.color_code,tbs.sort) as defaultBarCode
            FROM
            t_style_color tsc
            LEFT JOIN t_style ts ON ts.id = tsc.style_id
<!--            LEFT JOIN t_pack_info tpi on tpi.style_no = tsc.style_no-->
            LEFT JOIN t_pack_info tpi on tpi.style_color_id = tsc.id
            LEFT JOIN t_style_pricing tsp on tsp.pack_id = tpi.id
            left join 	(SELECT style_color_id ,GROUP_CONCAT(style_no) style_no  ,GROUP_CONCAT(color_name) color_name ,is_trim FROM t_style_main_accessories WHERE del_flag='0' GROUP BY style_color_id)  tsma on (tsma.style_color_id = tsc.id )
            left join t_basicsdatum_size tbs ON FIND_IN_SET(tbs.id,ts.size_ids) > 0 and tbs.hangtags = ts.default_size
            ${ew.customSqlSegment}

    </select>


    <select id="getStyleMainAccessories" resultType="com.base.sbc.module.style.entity.StyleColor">
        SELECT distinct tsc.*
        from t_style_color tsc
        LEFT JOIN t_style_main_accessories tsma on (tsc.style_no = tsma.style_no
        and tsma.del_flag='0')
        WHERE tsma.style_color_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and tsc.scm_send_flag &lt;&gt; '1'

        UNION ALL

        SELECT *
        from t_style_color tsc
        WHERE tsc.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and tsc.scm_send_flag &lt;&gt; '1'
    </select>

    <select id="markingCheckPage" resultType="com.base.sbc.module.style.vo.StyleMarkingCheckVo">
        SELECT ts.year_name,
               ts.season_name,
               ts.brand_name,
               ts.band_code,
               ts.band_name,
               ts.prod_category1st,
               ts.prod_category1st_name,
               ts.prod_category,
               ts.prod_category_name,
               ts.devt_type,
               ts.devt_type_name,
               ts.sales_type,
               ts.sales_type_name,
               sum(IF(IFNULL(ts.design_marking_status, 0) = 0, 1, 0)) AS designCount,
               sum(IF(ts.design_marking_status = 1, 1, 0))            AS designCount1,
               sum(IF(ts.design_marking_status = 2, 1, 0))            AS designCount2,
               sum(IF(IFNULL(tsc.order_marking_status, 0) = 0, 1, 0)) AS orderCount,
               sum(IF(tsc.order_marking_status = 1, 1, 0))            AS orderCount1,
               sum(IF(tsc.order_marking_status = 2, 1, 0))            AS orderCount2,
               count(1) AS totalCount
        FROM t_style ts
                 LEFT JOIN t_style_color tsc ON (ts.id = tsc.style_id AND tsc.del_flag = '0')
            ${ew.customSqlSegment}
        GROUP BY ts.year_name,
                ts.season_name,
                ts.brand_name,
                ts.band_code,
                ts.band_name,
                ts.prod_category1st,
                ts.prod_category1st_name,
                ts.prod_category,
                ts.prod_category_name,
                ts.devt_type,
                ts.devt_type_name,
                ts.sales_type,
                ts.sales_type_name
    </select>

    <select id="getStyleDesignerInfo" resultType="com.base.sbc.module.style.vo.StyleNoUserInfoVo">
        select *
        from (select t.style_id,
                     t1.design_no,
                     t.style_no as styleNo,
                     IF(t1.designer != '', SUBSTRING_INDEX(t1.designer, ',', 1), '') as designer,
                     t2.pattern_design_name as patternDesignName,
                     t2.stitcher
              from t_style_color t
                       INNER JOIN t_style t1 ON t.style_id = t1.id
                       LEFT JOIN t_pattern_making t2 on t1.id = t2.style_id
              ORDER BY t2.create_date DESC) t
        where
         1=1
        <if test="styleNos !=null and styleNos.size >0">
            and  t.styleNo in
            <foreach collection="styleNos" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY t.style_id
    </select>
    <select id="agentList" resultType="com.base.sbc.module.style.vo.StyleColorAgentVo">
        select tsca.id,
               tsc.id                                       styleColorId,
               ts.id                                        styleId,
               tpp.id                                       stylePricingId,
               ts.year,
               ts.year_name,
               ts.brand,
               ts.brand_name,
               ts.season,
               ts.season_name,
               concat(ts.year_name,
                      ' ', ts.season_name,
                      ' ', ts.brand_name)                   planningSeason,
               ts.prod_category_name,
               tsc.style_no,
               tsc.style_color_pic,
               tsca.outside_size_code                       outsideSizeCode,
               tsca.outside_color_name                      outsideColorName,
               tsca.outside_color_code                      outsideColorCode,
               tsc.color_name,
               tsc.color_code,
               ts.style_type,
               ts.style_type_name,
               ts.prod_category1st,
               ts.prod_category1st_name,
               ts.prod_category2nd,
               ts.prod_category2nd_name,
               tsca.size_code                               sizeCode,
               tbs.internal_size,
               ts.size_range,
               ts.size_range_name,
               concat(tsc.ware_code,
                      tsc.color_code,
                      tbs.sort)                             defaultBarCode,
               tsca.outside_barcode                         outsideBarcode,
               ts.devt_type,
               ts.devt_type_name,
               tsc.create_date,
               tsc.create_id,
               tsc.create_name,
               tsca.update_name,
               tsca.update_date,
               tsc.status as enableStatus ,
               tsca.status                                  sendStatus,
               ts.band_code,
               ts.band_name,
               ts.gender_name as genderType,
               tbs.hangtags,
               tsc.tag_price,
               tpp.control_plan_cost,
               SUBSTRING_INDEX(tsca.style_color_no, "-", 1) outsideStyleNo,
               tha.packaging_form,
               tha.packaging_form_code,
               tha.id                                       hangTagId
        FROM t_style_color_agent tsca
                 LEFT JOIN t_style_color tsc ON tsca.style_color_id = tsc.id AND tsc.del_flag = '0'
                 left join t_style ts on ts.id = tsc.style_id and ts.del_flag = '0'
                 left join t_pack_info tpi on ts.id = tpi.foreign_id and tpi.del_flag = '0'
                 left join t_style_pricing tpp on tpi.id = tpp.pack_id and tpp.del_flag = '0'
                 left join t_basicsdatum_size tbs ON tsca.size_id = tbs.code
                 left join t_hang_tag tha on tha.bulk_style_no = tsc.style_no and tha.del_flag = '0'
            ${ew.customSqlSegment}
    </select>

</mapper>
