<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleOrderBookColorMapper">
    <!--
        款式管理-订货本与配色中间表
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-7-3 14:37:31
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="getStyleNo" resultType="java.lang.String">
    select t2.style_no
    from   t_style_order_book t1
    left join t_style_order_book_color t2 on  t1.order_book_code = t2.order_book_code
    where t1.id=#{id}
    </select>
</mapper>