<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleColorMapper">
    <update id="reviseAllStyleNo">

      update  t_style_group
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_style_group_color
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_style_order_book_color
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_pack_info
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

    </update>
    <!--
        样衣-款式配色
        创建人：mengfanjiang
        邮箱：XX.com
        创建时间：2023-6-28 15:02:46
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="isStyleNoExist" resultType="java.lang.Integer">
        select count(1) from t_style_color where  style_no=#{styleNo}
    </select>

    <select id="getStyleColorNumber" resultType="java.lang.Integer">
        select count(1)
        from t_style_color
        where style_id = #{styleNo}
    </select>
    <select id="getSampleStyleColorList" resultType="com.base.sbc.module.style.vo.StyleColorVo">
        SELECT
        sd.style_flavour_name,
        sd.prod_category_name,
        sob.meet_flag,
        cl.color16,
        ssc.*
        FROM t_style_color ssc
        LEFT JOIN t_style sd on ssc.style_id = sd.id
        LEFT JOIN t_style_order_book_color sobc on ssc.style_no = sobc.style_no
        LEFT JOIN t_style_order_book sob on sob.order_book_code =sobc.order_book_code
        <if test="meetFlag != null and meetFlag != ''">
            and sob.meet_flag &lt;&gt; #{meetFlag}
        </if>
    LEFT JOIN t_basicsdatum_colour_library cl on ssc.colour_library_id = cl.id
    ${ew.customSqlSegment}
    </select>
    <select id="getStyleUploadInfo" resultType="com.base.sbc.module.sample.vo.StyleUploadVo">
        SELECT ssc.style_no,
               sd.brand,
               sd.brand_name,
               sd.year,
               sd.year_name,
               sd.season,
               sd.season_name
        FROM t_style_color ssc
                 LEFT JOIN t_style sd on ssc.style_id = sd.id
        where ssc.id = #{styleColorId}
    </select>

</mapper>