<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleColorMapper">
    <update id="reviseAllStyleNo">

      update  t_style_group
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_style_group_color
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_style_order_book_color
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

      update  t_pack_info
      set  style_no = #{nweStyleNo}
      where style_no = #{styleNo} ;

    </update>
    <!--
        样衣-款式配色
        创建人：mengfanjiang
        邮箱：XX.com
        创建时间：2023-6-28 15:02:46
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="isStyleNoExist" resultType="java.lang.Integer">
        select count(1) from t_style_color where  style_no=#{styleNo}
    </select>

    <select id="getStyleColorNumber" resultType="java.lang.Integer">
        select count(1)
        from t_style_color
        where style_id = #{styleNo}
    </select>
    <select id="getStyleUploadInfo" resultType="com.base.sbc.module.sample.vo.StyleUploadVo">
        SELECT ssc.style_no,
               sd.brand,
               sd.brand_name,
               sd.year,
               sd.year_name,
               sd.season,
               sd.season_name
        FROM t_style_color ssc
                 LEFT JOIN t_style sd on ssc.style_id = sd.id
        where ssc.id = #{styleColorId}
    </select>

    <select id="styleColorList" resultType="com.base.sbc.module.style.vo.StyleColorVo">
            select
            ts.task_level,
            ts.task_level_name,
            ts.style_type,
            ts.style_type_name,
            ts.devt_type,
            ts.devt_type_name,
            ts.size_range,
            ts.size_range_name,
            ts.merch_design_name,
            ts.pattern_design_name,
            ts.id styleId,
            ts.style_pic,
            ts.design_no,
            ts.prod_category1st,
            ts.prod_category1st_name,
            ts.prod_category,
            ts.prod_category_name,
            ts.his_design_no,
            ts.style_name,
            ts.style_flavour_name,
            ts.designer_id,
            ts.designer,
            ts.technician_id,
            ts.technician_name,
            tsc.*,
            tpi.id packInfoId,
            tsp.control_confirm,
            tsp.product_hangtag_confirm,
            tsp.control_hangtag_confirm
            FROM
            t_style ts
            LEFT JOIN  t_style_color tsc ON (ts.id = tsc.style_id  AND tsc.del_flag = '0')
            LEFT JOIN t_pack_info tpi on tpi.style_no = tsc.style_no
            LEFT JOIN t_style_pricing tsp on tsp.pack_id = tpi.id
            ${ew.customSqlSegment}
        </select>
    <select id="colorList" resultType="com.base.sbc.module.style.vo.StyleColorVo">
        select
            tsc.*,
            tpi.id packInfoId,
            ts.task_level,
            ts.task_level_name,
            ts.style_type,
            ts.style_type_name,
            ts.devt_type,
            ts.devt_type_name,
            ts.size_range,
            ts.size_range_name,
            ts.merch_design_name,
            ts.pattern_design_name,
            ts.id styleId,
            ts.style_pic,
            ts.design_no,
            ts.prod_category1st,
            ts.prod_category1st_name,
            ts.prod_category,
            ts.prod_category_name,
            ts.his_design_no,
            ts.style_name,
            ts.style_flavour_name,
            ts.designer_id,
            ts.designer,
            ts.technician_id,
            ts.technician_name,
            tsp.control_confirm,
            tsp.product_hangtag_confirm,
            tsp.control_hangtag_confirm
            FROM
            t_style_color tsc
            LEFT JOIN t_style ts ON ts.id = tsc.style_id
            LEFT JOIN t_pack_info tpi on tpi.style_no = tsc.style_no
            LEFT JOIN t_style_pricing tsp on tsp.pack_id = tpi.id
            ${ew.customSqlSegment}

    </select>

</mapper>
