<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleMapper">
    <!--
        款式设计
        创建人：tzy
        邮箱：974849633@qq.com
        创建时间：2023-8-22 17:26:23
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <!--    修改所有设计款号-->
    <update id="reviseAllDesignNo">
        update t_style
        set design_no = #{newDesignNo}
        where design_no = #{oldDesignNo};
        update t_planning_category_item
        set design_no = #{newDesignNo}
        where design_no = #{oldDesignNo};
        update t_pack_info
        set design_no = #{newDesignNo}
        where design_no = #{oldDesignNo};
        update t_sample
        set design_no = #{newDesignNo}
        where design_no = #{oldDesignNo};
        update t_style_color
        set design_no = #{newDesignNo}
        where design_no = #{oldDesignNo};
    </update>
    <update id="changeDevtType">
        update t_pack_info
        set devt_type     = #{devtType},
            devt_type_name=#{devtTypeName}
        where foreign_id = #{styleId}
           or style_id = #{styleId}
    </update>
    <!-- 分页查询 -->
    <select id="selectByQw" resultType="com.base.sbc.module.style.vo.StylePageVo">
        select *
        from t_style s
            ${ ew.customSqlSegment}
    </select>
    <select id="getDesignerList" resultType="com.base.sbc.module.sample.vo.SampleUserVo">
        select DISTINCT designer_id as user_id, designer as name
        from t_style s
        where company_code = #{companyCode}
          AND del_flag = '0'
          and designer_id !='' and designer_id is not null
    </select>
    <select id="getBandChart" resultType="com.base.sbc.module.style.vo.ChartBarVo">

        SELECT band_name AS product,
        STATUS AS dimension,
        count(id) AS total
        FROM t_style
        where del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY band_name,
        STATUS;
    </select>
    <select id="getCategoryChart" resultType="com.base.sbc.module.style.vo.ChartBarVo">
        SELECT prod_category_name AS product,
        STATUS AS dimension,
        count(id) AS total
        FROM t_style
        where del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY prod_category_name,
        STATUS;

    </select>
    <select id="dimensionTotal" resultType="com.base.sbc.module.planning.vo.DimensionTotalVo">
        select ${ew.sqlSelect} from t_style sd
        where
        sd.del_flag ='0'
        <if test="fabricsUnderTheDrafts != null and fabricsUnderTheDrafts.size() > 0">
            and exists(select 1 from t_field_val tfv where  tfv.foreign_id = sd.id and tfv.del_flag = '0' and tfv.data_group = "SAMPLE_DESIGN_TECHNOLOGY" and tfv.val in
            <foreach item="item" collection="fabricsUnderTheDrafts" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        and sd.prod_category is not null and sd.prod_category &lt;&gt; ''
        and sd.band_code is not null and sd.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="categoryBandSummary" resultType="com.base.sbc.module.planning.vo.PlanningSummaryDetailVo">
        SELECT
        sd.id,
        sd.prod_category_name,
        sd.design_no,
        sd.his_design_no,
        sd.price,
        sd.seasonal,
        sd.style_pic,
        sd.continuation_point,
        sd.designer,
        sd.designer_id,
        sd.band_name,
        sd.style_no,
        sd.planning_season_id,
        sd.plate_positioning_name,
        sd.technician_name,
        sd.dev_class_name,
        sd.devt_type_name,
        sd.registering_no
        FROM
        t_style sd
        WHERE
        sd.del_flag = '0'
        AND sd.del_flag = '0'
        <if test="fabricsUnderTheDrafts != null and fabricsUnderTheDrafts.size() > 0">
            and exists(select 1 from t_field_val tfv where  tfv.foreign_id = sd.id and tfv.del_flag = '0' and tfv.data_group = "SAMPLE_DESIGN_TECHNOLOGY" and tfv.val in
            <foreach item="item" collection="fabricsUnderTheDrafts" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        and sd.prod_category is not null and sd.prod_category &lt;&gt; ''
        and sd.band_code is not null and sd.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="categorySummary" resultType="com.base.sbc.module.style.vo.StyleBoardCategorySummaryVo">
        SELECT
        sd.prod_category1st,
        sd.prod_category,
        sd.prod_category2nd,
        count( 1 ) skc,
        count( sd.STATUS = 2 or null) scriptedNum
        FROM
        t_style sd
        WHERE
        sd.del_flag = '0'
        and prod_category1st is not null and prod_category1st!=''
        and prod_category is not null and prod_category!=''
        and prod_category2nd is not null and prod_category2nd!=''
        <if test="fabricsUnderTheDrafts != null and fabricsUnderTheDrafts.size() > 0">
            and exists(select 1 from t_field_val tfv where  tfv.foreign_id = sd.id and tfv.del_flag = '0' and tfv.data_group = "SAMPLE_DESIGN_TECHNOLOGY" and tfv.val in
            <foreach item="item" collection="fabricsUnderTheDrafts" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY
        prod_category1st,
        prod_category,
        prod_category2nd
        order by
        prod_category1st,
        prod_category,
        prod_category2nd
    </select>
    <select id="colorCount" resultType="java.lang.Long">
        SELECT
        count(sd.id) num
        FROM
        t_style sd
        LEFT JOIN t_pattern_making p ON ( sd.id = p.style_id ) and p.del_flag = 0 and p.disable_flag = 0 and p.sample_type = "初版样"
        WHERE
        sd.del_flag ='0'
        <if test="fabricsUnderTheDrafts != null and fabricsUnderTheDrafts.size() > 0">
            and exists(select 1 from t_field_val tfv where  tfv.foreign_id = sd.id and tfv.del_flag = '0' and tfv.data_group = "SAMPLE_DESIGN_TECHNOLOGY" and tfv.val in
            <foreach item="item" collection="fabricsUnderTheDrafts" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>

    <select id="colorCountStyle" resultType="java.lang.Long">
        SELECT
        count(sd.id) num
        FROM
        t_style sd
        WHERE
        sd.del_flag ='0'
        and sd.enable_status = '0'
        <if test="fabricsUnderTheDrafts != null and fabricsUnderTheDrafts.size() > 0">
            and exists(select 1 from t_field_val tfv where tfv.foreign_id = sd.id and tfv.del_flag = '0' and
            tfv.data_group = "SAMPLE_DESIGN_TECHNOLOGY" and tfv.val in
            <foreach item="item" collection="fabricsUnderTheDrafts" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>

    <select id="selectMaxDesignNo" resultType="java.lang.String">
        select max(design_no)
        from t_style ${ ew.customSqlSegment}
    </select>
    <select id="selectMaxOldDesignNo" resultType="java.lang.String">
        select max(old_design_no)
        from t_style ${ ew.customSqlSegment}
    </select>
    <select id="getStyleUploadInfo" resultType="com.base.sbc.module.sample.vo.StyleUploadVo">
        SELECT old_design_no as design_no,
               brand,
               brand_name, year, year_name, season, season_name
        FROM t_style
        where id = #{styleId}

    </select>
    <select id="selectMaxDesignNoYfg" resultType="java.lang.String">
        select max(CONVERT(SUBSTR(old_design_no, ${pxLength}, ${length}), DECIMAL (11)))
        from t_style
        where brand = #{brand}
                  and prod_category = #{category}
                  and year = #{year}
          and company_code = #{companyCode}
    </select>

    <select id="queryStyleField" resultType="com.base.sbc.module.style.vo.StyleDimensionVO">
        SELECT DISTINCT
        ts.id as styleId,
        ts.prod_category1st as prodCategory1st,
        ts.prod_category1st_name as prodCategory1stName,
        ts.prod_category as prodCategory,
        ts.prod_category_name as prodCategoryName,
        ts.prod_category2nd as prodCategory2nd,
        ts.prod_category2nd_name as prodCategory2ndName,
        ts.band_code as bandCode,
        ts.band_name as bandName,
        tfv.field_id as fieldId,
        tfv.field_explain as fieldExplain,
        tfv.val as var,
        tfv.val_name as varName
        FROM t_style ts
        LEFT JOIN t_field_val tfv ON ts.id = tfv.foreign_id AND ts.del_flag='0'
        WHERE ts.del_flag='0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

