<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.style.mapper.StyleColorCorrectInfoMapper">

    <select id="findList" resultType="com.base.sbc.module.style.vo.StyleColorCorrectInfoVo">
        select
            tcci.id,
            tcci.style_id,
            tcci.technology_correct_date,
            tcci.technology_check_date,
            tppst.tech_receive_date technicsDate,
            tcci.gst_date,
            tcci.plan_control_date,
            tcci.purchase_need_date,
            tcci.purchase_recover_date,
            tcci.auxiliary_date,
            tcci.create_date,
            tcci.create_id,
            tcci.create_name,
            tcci.update_date,
            tcci.update_id,
            tcci.update_name,
            tsc.*,
            ts.style_pic,
            ts.brand,
            ts.brand_name,
            ts.year,
            ts.year_name,
            ts.season,
            ts.season_name,
            ts.prod_category,
            ts.prod_category_name,
            ts.devt_type as devtType,
            ts.devt_type_name as devtTypeName,
            ts.designer_id,
            ts.designer,
            ts.design_no designNo
        FROM
            t_style_color tsc
                LEFT JOIN t_style ts ON ts.id = tsc.style_id
                LEFT JOIN t_pack_info tpi on tpi.style_no = tsc.style_no
                LEFT JOIN t_style_pricing tsp on tsp.pack_id = tpi.id
                left join (SELECT style_color_id ,GROUP_CONCAT(style_no) style_no  ,GROUP_CONCAT(color_name) color_name ,is_trim FROM t_style_main_accessories WHERE del_flag='0' GROUP BY style_color_id)  tsma on (tsma.style_color_id = tsc.id )
                left join t_basicsdatum_size tbs ON FIND_IN_SET(tbs.id,ts.size_ids) > 0 and tbs.hangtags = ts.default_size
                left join t_style_color_correct_info tcci on tcci.style_id = tsc.id and tcci.del_flag = '0'
                left join t_pre_production_sample_task tppst on tsc.style_id = tppst.style_id AND tppst.del_flag = '0'
                WHERE NOT EXISTS (select 1 from t_style_color_correct_info WHERE style_id = tsc.id AND del_flag = '1')
            ${ew.customSqlSegment}

    </select>

</mapper>