<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningBandMapper">
    <select id="selectByQw" resultType="com.base.sbc.module.planning.vo.PlanningSeasonBandVo">
        select b.id AS id,
        s.id AS "season.id",
        s.NAME AS "season.name",
        s.YEAR AS "season.year",
        s.season AS "season.season",
        s.brand AS "season.brand",
        s.year_name AS "season.yearName",
        s.season_name AS "season.seasonName",
        s.brand_name AS "season.brandName",
        b.id AS "band.id",
        b.MONTH AS "band.month",
        b.NAME AS "band.name",
        b.sex AS "band.sex",
        b.band_code AS "band.bandCode",
        b.devt_type AS "band.devtType",
        b.channel AS "band.channel",
        b.NAME AS "band.nameName",
        b.month_name AS "band.monthName",
        b.sex_name AS "band.sexName",
        b.band_name AS "band.bandCodeName",
        b.devt_type_name AS "band.devtTypeName",
        b.channel_name AS "band.channelName",
        b.STATUS AS "band.status",
        b.create_id AS "band.createId",
        b.create_name AS "band.createName",
        b.create_date AS "band.createDate"
        from t_planning_band b,
        t_planning_season s
        where b.planning_season_id=s.id
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>


    </select>
</mapper>