<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningSeasonMapper">

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <select id="getPlanningSeasonOptions" resultType="com.base.sbc.module.common.vo.SelectOptionsVo">
        select id as value,name as label
        from t_planning_season
            ${ ew.customSqlSegment}
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->

</mapper>