<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningDemandMapper">
    <!--
        企划-需求维度表
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-4-26 17:42:18
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="getDemandDimensionalityById"
            resultType="com.base.sbc.module.planning.vo.PlanningDemandVo">
            select
            id,
            category_id ,
            demand_name ,
            form_type_id ,
            field_id
            from t_planning_demand
            ${ ew.customSqlSegment}
    </select>
</mapper>