<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningCategoryMapper">

    <select id="countSkc"  resultType="java.util.Map">
        select ${column} as col,sum(plan_requirement_num) as summary  from t_planning_category
        ${ ew.customSqlSegment}
    </select>

</mapper>