<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningCategoryItemMapper">
    <!--
        企划-坑位信息
        创建人：tzy
        邮箱：974849633@qq.com
        创建时间：2023-8-23 15:38:52
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="selectMaxDesignNo" resultType="java.lang.String">
        select max(design_no)
        from t_planning_category_item ${ ew.customSqlSegment}
    </select>

    <select id="listSeat" resultType="com.base.sbc.module.planning.vo.PlanningSeasonOverviewVo">
        SELECT
        c.*,
        s.name as name,
        sd.`status` AS sd_status,
        sd.confirm_status AS sd_confirm_status
        FROM
        t_planning_category_item c
        join t_planning_season s on(s.id=c.planning_season_id )
        LEFT JOIN t_style sd ON ( sd.planning_category_item_id = c.id AND sd.del_flag = '0' )
        WHERE
        c.del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>
    <select id="getAllDesigner" resultType="com.base.sbc.module.sample.vo.SampleUserVo">
        select DISTINCT designer_id as user_id, designer as name
        from t_planning_category_item s
        where company_code = #{companyCode}
          AND del_flag = '0'
          and designer_id !='' and designer_id is not null
    </select>
    <select id="dimensionTotal" resultType="com.base.sbc.module.planning.vo.DimensionTotalVo">
        select ${ew.sqlSelect} from t_planning_category_item ci
        where
        ci.del_flag ='0'
        and ci.prod_category is not null and ci.prod_category &lt;&gt; ''
        and ci.band_code is not null and ci.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="planningSummaryDetail" resultType="com.base.sbc.module.planning.vo.PlanningSummaryDetailVo">
        SELECT
        ci.id,
        ci.design_no,
        ci.his_design_no,
        ci.price,
        ci.seasonal,
        ci.style_pic,
        ci.continuation_point,
        ci.designer,
        ci.designer_id,
        ci.band_name,
        ci.band_code,
        ci.prod_category1st,
        ci.prod_category1st_name,
        ci.prod_category,
        ci.prod_category_name,
        ci.prod_category2nd_name,
        ci.prod_category2nd,
        ci.prod_category3rd,
        ci.prod_category3rd_name,
        ci.planning_channel_id,
        ci.planning_season_id,
        ci.channel,
        ci.channel_name,
        sd.style_no
        FROM
        t_planning_category_item ci
        LEFT JOIN t_style sd ON ( sd.planning_category_item_id = ci.id )
        WHERE
        ci.del_flag = '0'
        AND ci.del_flag = '0'
        and ci.prod_category is not null and ci.prod_category &lt;&gt; ''
        and ci.band_code is not null and ci.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="bandSummary" resultType="com.base.sbc.module.style.vo.ChartBarVo">
        SELECT
        ci.band_name as dimension ,
        count(1) as total
        FROM t_planning_category_item ci
        LEFT JOIN t_style sd ON ( sd.planning_category_item_id = ci.id and sd.del_flag='0')
        WHERE
        ci.del_flag = '0'
        AND ci.del_flag = '0'
        and ci.prod_category is not null and ci.prod_category &lt;&gt; ''
        and ci.band_code is not null and ci.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by ci.band_name
    </select>
    <select id="totalSkcByPlanningSeason" resultType="com.base.sbc.module.common.vo.CountVo">
        select planning_season_id as label,count(id) as `count` from t_planning_category_item
        WHERE del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by planning_season_id
    </select>
    <select id="totalSkcByChannel" resultType="com.base.sbc.module.common.vo.CountVo">
        select planning_channel_id as label,count(id) as `count` from t_planning_category_item
        WHERE del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by planning_channel_id

    </select>

    <select id="totalBandSkcByPlanningSeason" resultType="com.base.sbc.module.common.vo.CountVo">
        select band_name as label,count(id) as `count` from t_planning_category_item
        WHERE del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by band_name
    </select>
    <select id="countCategoryByChannelId" resultType="com.base.sbc.module.common.vo.CountVo">
        SELECT prod_category1st AS label,
        count(1) AS `count`
        FROM t_planning_category_item
        WHERE prod_category1st != ''
        AND del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY
        prod_category1st
        UNION
        SELECT prod_category AS label,
        count(1) AS `count`
        FROM t_planning_category_item
        WHERE prod_category1st != ''
        AND del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY
        prod_category
    </select>
    <select id="selectCategoryIdsByBand" resultType="java.lang.String">
        select distinct concat(prod_category1st, ',', prod_category)
        from t_planning_category_item ${ ew.customSqlSegment}
    </select>
    <select id="getStylePicUrlById" resultType="java.lang.String">
        select style_pic
        from t_planning_category_item
        where id = #{id} limit 1
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

