<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningChannelMapper">
    <!--
        企划-渠道
        创建人：tzy
        邮箱：974849633@qq.com
        创建时间：2023-8-25 20:02:11
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="list" resultType="com.base.sbc.module.planning.vo.PlanningChannelVo">
        select s.name,c.* from t_planning_channel c ,t_planning_season s
        where s.id=c.planning_season_id
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="getMaxSort" resultType="java.lang.Integer">
        SELECT max(sort)
        from t_planning_channel
        where planning_season_id = #{planningSeasonId}
    </select>

    <select id="channelClassifSelection" resultType="com.base.sbc.module.common.vo.SelectOptionsVo">
        SELECT
        concat( channel_name, "-", sort ) AS label,
        id AS value
        FROM
        t_planning_channel
        <where>
            del_flag = '0'
            <if test="planningSeasonId !=null and planningSeasonId !=''">
                AND planning_season_id = #{planningSeasonId}
            </if>
        </where>
    </select>

    <select id="selectIdCount" resultType="com.base.sbc.module.common.vo.CountVo">
        select planning_season_id as label, count(1) as `count`
        from t_planning_channel c
            ${ ew.customSqlSegment}
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

