<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningProjectMapper">
    <select id="getplanningProjectList" resultType="com.base.sbc.module.planning.vo.PlanningProjectVo">
        SELECT
            planning_project_name,
            planning_channel,
            create_date,
            prod_category1st_name,
            prod_category_name,
            prod_category2nd_name,
            status
        FROM
        t_planning_project
        <where>
            <if test="dto.planningProjectName != null and dto.planningProjectName != ''">
                AND planning_project_name LIKE concat( '%',#{dto.planningProjectName},'%' )
            </if>
            <if test="dto.planningChannel != null and dto.planningChannel != ''">
                AND planning_channel =#{planningChannel}
            </if>
            <if test="dto.prodCategoryName != null and dto.prodCategoryName != ''">
                AND prod_gategory_name =#{prodCategoryName}
            </if>
        </where>
        order by create_date desc
    </select>
</mapper>