<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planningproject.mapper.PlanningProjectMapper">
    <select id="listByQueryWrapper" resultType="com.base.sbc.module.planningproject.entity.PlanningProject">
        select tpp.* from t_planning_project tpp, t_planning_season tps
        where tpp.del_flag = 0 and tps.del_flag = 0 and tps.id = tpp.season_id
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <select id="historyList" resultType="com.base.sbc.module.planning.vo.PlanningSeasonOverviewVo">
        SELECT
        c.*
        FROM
        t_planning_category_item c

        WHERE
        c.del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>
</mapper>