<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningCategoryItemMapper">
    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="selectMaxDesignNo" resultType="java.lang.String">
        select max(design_no)
        from t_planning_category_item ${ ew.customSqlSegment}
    </select>
    <select id="selectCategoryIdsByBand" resultType="java.lang.String">
        select distinct category_ids
        from t_planning_category_item c
                 left join t_planning_band b on (c.planning_band_id = b.id)
            ${ ew.customSqlSegment}
    </select>
    <select id="listSeat" resultType="com.base.sbc.module.planning.vo.PlanningSeasonOverviewVo">
        SELECT
        s.`name`,
        s.`brand`,
        s.`year`,
        s.`season`,
        b.`month`,
        b.`sex`,
        b.band_code,
        b.devt_type,
        b.channel,
        sd.`status` as sd_status,
        sd.confirm_status as sd_confirm_status,
        c.*
        FROM
        t_planning_season s,
        t_planning_band b,
        t_planning_category_item c left JOIN t_sample_design sd on (sd.planning_category_item_id = c.id and
        sd.del_flag='0')
        WHERE
        s.id = c.planning_season_id
        AND b.id = c.planning_band_id
        AND c.del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>
    <select id="getAllDesigner" resultType="com.base.sbc.module.sample.vo.SampleUserVo">
        select DISTINCT designer_id as user_id, designer as name
        from t_planning_category_item s
        where company_code = #{companyCode}
          AND del_flag = '0'
          and designer_id !='' and designer_id is not null
    </select>
    <select id="dimensionTotal" resultType="com.base.sbc.module.planning.vo.DimensionTotalVo">
        select ${ew.sqlSelect} from t_planning_band b ,t_planning_category_item ci
        where b.id=ci.planning_band_id
        and b.del_flag ='0'
        and ci.del_flag ='0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->

</mapper>