<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningDimensionalityMapper">
    <!--
        企划-维度表
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-4-27 11:15:30
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="getCoefficientList" resultType="com.base.sbc.module.planning.vo.PlanningDimensionalityVo">


        select
        tpd.* ,
        tfm.group_name,
        tfm.field_name,
        tfm.field_explain
         from t_planning_dimensionality tpd
         LEFT JOIN  t_field_management tfm on (tpd.field_id = tfm.id and tfm.del_flag = '0')
         ${ ew.customSqlSegment}

    </select>

    <select id="getMaterialCoefficient" resultType="com.base.sbc.module.planning.vo.PlanningDimensionalityVo">
        select
        tpd.* ,
        tfm.group_name,
        tfm.field_name,
        tfm.field_explain,
        tfm.id,
        tfm.form_type_id,
        tfm.field_type,
        tfm.field_type_id,
        tfm.field_type_name,
        tfm.field_type_coding,
        tfm.default_hint,
        tfm.is_option,
        tfm.option_dict_key,
        tfm.is_must_fill,
        tfm.category_id,
        tfm.category_name,
        tfm.season,
        tfm.is_examine,
        tfm.status,
        tfm.sequence,
        tfm.is_compile,
        tfm.form_object_id formObjectId,
        tfm.brand,
        tfm.brand_name,
        tfm.structure_tier
         from t_planning_dimensionality tpd
         LEFT JOIN  t_field_management tfm on (tpd.field_id = tfm.id and tfm.del_flag = '0')
         ${ ew.customSqlSegment}
    </select>
</mapper>