<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.planning.mapper.PlanningCategoryItemMapper">
    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="selectMaxDesignNo" resultType="java.lang.String">
        select max(design_no)
        from t_planning_category_item ${ ew.customSqlSegment}
    </select>
    <select id="selectCategoryIdsByBand" resultType="java.lang.String">
        select distinct category_ids
        from t_planning_category_item c
                 left join t_planning_band b on (c.planning_band_id = b.id)
            ${ ew.customSqlSegment}
    </select>
    <select id="listSeat" resultType="com.base.sbc.module.planning.vo.PlanningSeasonOverviewVo">
        SELECT
        c.*,
        s.name as name,
        sd.`status` AS sd_status,
        sd.confirm_status AS sd_confirm_status
        FROM
        t_planning_category_item c
        join t_planning_season s on(s.id=c.planning_season_id )
        LEFT JOIN t_sample_design sd ON ( sd.planning_category_item_id = c.id AND sd.del_flag = '0' )
        WHERE
        c.del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>
    <select id="getAllDesigner" resultType="com.base.sbc.module.sample.vo.SampleUserVo">
        select DISTINCT designer_id as user_id, designer as name
        from t_planning_category_item s
        where company_code = #{companyCode}
          AND del_flag = '0'
          and designer_id !='' and designer_id is not null
    </select>
    <select id="dimensionTotal" resultType="com.base.sbc.module.planning.vo.DimensionTotalVo">
        select ${ew.sqlSelect} from t_planning_band b ,t_planning_category_item ci
        where b.id=ci.planning_band_id
        and b.del_flag ='0'
        and ci.del_flag ='0'
        and ci.prod_category is not null and ci.prod_category &lt;&gt; ''
        and b.band_code is not null and b.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="planningSummaryDetail" resultType="com.base.sbc.module.planning.vo.PlanningSummaryDetailVo">
        SELECT
        ci.id,
        ci.prod_category,
        ci.design_no,
        ci.his_design_no,
        ci.price,
        ci.seasonal,
        ci.style_pic,
        ci.continuation_point,
        ci.designer,
        ci.designer_id,
        b.band_code,
        sd.style_no
        FROM
        t_planning_band b
        JOIN t_planning_category_item ci ON ( b.id = ci.planning_band_id )
        LEFT JOIN t_sample_design sd ON ( sd.planning_category_item_id = ci.id )
        WHERE
        b.del_flag = '0'
        AND ci.del_flag = '0'
        and ci.prod_category is not null and ci.prod_category &lt;&gt; ''
        and b.band_code is not null and b.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
    <select id="categorySummary" resultType="com.base.sbc.module.sample.vo.ChartBarVo">
        SELECT
        b.band_code as dimension ,
        count(1) as total
        FROM
        t_planning_band b
        JOIN t_planning_category_item ci ON ( b.id = ci.planning_band_id )
        LEFT JOIN t_sample_design sd ON ( sd.planning_category_item_id = ci.id and sd.del_flag='0')
        WHERE
        b.del_flag = '0'
        AND ci.del_flag = '0'
        and ci.prod_category is not null and ci.prod_category &lt;&gt; ''
        and b.band_code is not null and b.band_code &lt;&gt; ''
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by dimension
    </select>
    <select id="totalSkcByPlanningSeason" resultType="java.util.Map">
        select planning_season_id as id,count(id) as total from t_planning_category_item
        WHERE del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by planning_season_id
    </select>
    <select id="totalSkcByChannel" resultType="java.util.Map">
        select planning_channel_id as id,count(id) as total from t_planning_category_item
        WHERE del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by planning_channel_id

    </select>
    <select id="countCategoryByChannelId" resultType="com.base.sbc.module.common.vo.CountVo">
        SELECT prod_category1st AS label,
        count(1) AS `count`
        FROM t_planning_category_item
        WHERE prod_category1st != ''
        AND del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY
        prod_category1st
        UNION
        SELECT prod_category AS label,
        count(1) AS `count`
        FROM t_planning_category_item
        WHERE prod_category1st != ''
        AND del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        GROUP BY
        prod_category
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->

</mapper>