<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.orderbook.mapper.OrderBookDetailMapper">
    <select id="queryPage" resultType="com.base.sbc.module.orderbook.vo.OrderBookDetailVo">
        SELECT
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
        tobl.*,
        tob.name as orderBookName,
        ts.id as styleId,
        ts.design_no as style,
        ts.old_design_no,
        ts.style_pic,
        ts.brand_name,
        ts.brand as brandCode,
        ts.prod_category_name as categoryName,
        ts.prod_category as categoryCode,
        ts.prod_category2nd_name,
        ts.positioning as positioning,
        ts.positioning_name as positioningName,
        ts.designer as styleDesignerName,
        ts.designer_id as styleDesignerId,
        ts.pattern_design_name,
        ts.registering_no,
        ts.plate_positioning as patternPositioningCode,
        ts.plate_positioning_name as patternPositioningName,
        ts.serial_style_no as registeringNo,
        tsc.style_color_pic,
        tsc.style_no as bulkStyleNo,
        tsc.his_style_no as hisStyleNo,
        IFNULL(tobl.devt_type,ts.devt_type) as styleDevtType,
        ts.size_codes,
        (tsc.style_no REGEXP "Q$") as high,
        tsc.band_name,
        tsc.band_code,
        tsc.color_name,
        tsc.color_code,
        tsc.supplier_abbreviation as fobClothingFactoryName,
        tsc.supplier_no as fobClothingFactoryCode,
        tsc.supplier as fobSupplier,
        tsc.tag_price,
        tsc.bom,
        tsc.bom_status,
        tsc.scm_send_flag,
        ts.planning_season_id,
        tbcl.colour_code as supplierColor,
        tpi.id as packInfoId,
        tpi.name as bomName,
        tpbv.id as bomVersionId,
        tob.channel as channel,
        tob.channel_name as channelName,
        (IFNULL(tobl.material,0) + IFNULL(tobl.online_material,0)) * IFNULL(tsc.tag_price,0) as materialMoney,

        <!-- 一键投产 -->
        ts.year_name,
        ts.season_name
        </if>
        FROM
        t_order_book_detail tobl
        left join t_style_color tsc on tobl.style_color_id = tsc.id and tsc.del_flag='0'
        left join t_style ts on ts.id = tsc.style_id and ts.del_flag='0'
        left join t_order_book tob on tob.id = tobl.order_book_id and tob.del_flag='0'
        left join t_basicsdatum_colour_library tbcl on tbcl.colour_code = tsc.color_code and tbcl.del_flag='0'
        LEFT JOIN t_pack_info tpi ON tsc.id = tpi.style_color_id and tpi.code = tsc.bom and tpi.del_flag = '0'
        LEFT JOIN t_pack_bom_version tpbv ON tpbv.id = (
        select id from t_pack_bom_version where foreign_id = tpi.id and del_flag = '0' and status = '1' and pack_type =
        IF(tsc.bom_status = '0', 'packDesign', 'packBigGoods') ORDER BY version DESC limit 1)
        where tobl.del_flag='0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <select id="queryPage_COUNT" resultType="com.base.sbc.module.orderbook.vo.OrderBookDetailVo">
        SELECT
        count(0)
        FROM
        t_order_book_detail tobl
        where tobl.del_flag='0'
        <where>
            <if test="ew.hasAlias('tsc')">
                and EXISTS(select id from t_style_color tsc where
                tobl.style_color_id = tsc.id and tsc.del_flag='0'
                and ${ ew.getSqlByAlias('tsc')})
            </if>
            <if test="ew.hasAlias('ts')">
                and EXISTS(select tsc.id from t_style_color tsc
                left join t_style ts on ts.id = tsc.style_id and ts.del_flag='0'
                where
                tobl.style_color_id = tsc.id and tsc.del_flag='0'
                and ${ ew.getSqlByAlias('tsc')}
                and ${ ew.getSqlByAlias('ts')})
            </if>
            <if test="ew.hasAlias('tob')">
                and EXISTS(select id from t_order_book tob where
                tob.id = tobl.order_book_id and tob.del_flag='0'
                and ${ ew.getSqlByAlias('tob')})
            </if>
            <if test="ew.hasAlias('tbcl')">
                and EXISTS(select tsc.id from t_style_color tsc
                left join t_basicsdatum_colour_library tbcl on tbcl.colour_code = tsc.color_code and tbcl.del_flag='0'
                where
                tobl.style_color_id = tsc.id and tsc.del_flag='0'
                and ${ ew.getSqlByAlias('tsc')}
                and ${ ew.getSqlByAlias('tbcl')})
            </if>
            <if test="ew.hasAlias('tpi')">
                and EXISTS(select tsc.id from t_style_color tsc
                left join t_pack_info tpi ON tsc.id = tpi.style_color_id and tpi.del_flag = '0'
                where
                tobl.style_color_id = tsc.id and tsc.del_flag='0'
                and ${ ew.getSqlByAlias('tsc')}
                and ${ ew.getSqlByAlias('tpi')})
            </if>
            <if test="ew.hasAlias('tobl')">
                and ${ ew.getSqlByAlias('tobl')}
            </if>
        </where>
    </select>

    <select id="queryCountByOrderBookId" resultType="java.util.Map">
        SELECT
        tobl.order_book_id as orderBookId,
        count(tobl.order_book_id) as count
        FROM
        t_order_book_detail tobl
        where tobl.del_flag='0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
        group by tobl.order_book_id
    </select>

    <select id="querySeasonalPlanningOrder" resultType="com.base.sbc.module.orderbook.vo.OrderBookDetailForSeasonPlanningVO">
        SELECT DISTINCT
               ts.id as styleId,
               ts.prod_category1st as prodCategory1st,
               ts.prod_category1st_name as prodCategory1stName,
               ts.prod_category as prodCategory,
               ts.prod_category_name as prodCategoryName,
               ts.prod_category2nd as prodCategory2nd,
               ts.prod_category2nd_name as prodCategory2ndName,
               ts.band_code as bandCode,
               ts.band_name as bandName,
               tfv.field_id as fieldId,
               tfv.field_explain as fieldExplain,
               tfv.val as styleCode,
               tfv.val_name as styleName
        FROM t_order_book_detail tobd
        LEFT JOIN t_order_book tob ON tob.id = tobd.order_book_id AND tob.del_flag='0'
        LEFT JOIN t_style_color tsc ON tobd.style_color_id = tsc.id AND tsc.del_flag='0'
        LEFT JOIN t_style ts ON ts.id = tsc.style_id AND ts.del_flag='0'
        LEFT JOIN t_field_val tfv ON ts.id = tfv.foreign_id AND ts.del_flag='0'
        WHERE tobd.del_flag='0'
              AND tobd.order_status in (2,3,4)
        <if test="dto.seasonId != null and dto.seasonId != ''">
            AND tob.season_id = #{dto.seasonId}
        </if>
        <if test="dto.channel != null and dto.channel != ''">
              AND tob.channel = #{dto.channel}
        </if>
        <if test="dto.styleCategory != null and dto.styleCategory != ''">
            AND tfv.field_name = #{dto.styleCategory}
        </if>
    </select>
    <select id="getByStyleNoTotalProductionList" resultType="java.lang.String">
        select sum(total_production)  from t_order_book_detail tobd left join  t_style_color tsc on tobd.style_color_id = tsc.id
        where tobd.del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>
</mapper>