<?xml version="1.0" encoding="UTF-8" ?>
<config>

	<params>
		<!-- Java总路径  生成java文件包的目录 -->
		<osdir       value="d:\code\sjs_yfg_pdm\src\main\java\com\base\sbc\module"></osdir>
		<!-- xml总路径 -->
		<xmlosdir    value="d:\code\sjs_yfg_pdm\src\main\resources"></xmlosdir>
		<!-- 总包名 -->
		<javapackage value="com.base.sbc.module"></javapackage>
		<!-- 模块名称 -->
		<project     value="planning"></project><!-- 模块名称 -->
	</params>
	<tables>
<!--		<table       value="t_planning_season"   genType="1,2" ></table>-->
<!--		<table       value="t_planning_band"   genType="1,2" ></table>-->
		<table       value="t_planning_band"   genType="1,2" ></table>
<!--		<table       value="t_planning_category_item"   genType="1,2" ></table>-->
<!--		<table       value="t_planning_category_item_material"   genType="1,2,3,4" ></table>-->
	</tables>

	<dataSource>
		<driver      value="com.mysql.jdbc.Driver"></driver>
		<url         value="jdbc:mysql://gz-cynosdbmysql-grp-jnerwl7h.sql.tencentcdb.com:24738/s_pdm_data?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8"></url>
		<username    value="yfg"></username>
		<password    value="yfg123456."></password>
	</dataSource>
	<author>
		<name  		 value="" ></name>
		<email  	 value="" ></email>
	</author>
</config>
