<?xml version="1.0" encoding="UTF-8" ?>
<config>

	<params>
		<!-- Java总路径  生成java文件包的目录 -->
		<osdir       value="D:\java\ideas\pdm\pord\sjs_yfg_pdm\src\main\java\com\base\sbc\module"></osdir>
		<!-- xml总路径 -->
		<xmlosdir    value="D:\java\ideas\pdm\pord\sjs_yfg_pdm\src\main\resources"></xmlosdir>
		<!-- 总包名 -->
		<javapackage value="com.base.sbc.module"></javapackage>
		<!-- 模块名称 -->
		<project     value="pokaYoke"></project>
<!--		<project     value="common"></project>-->
<!--		<project     value="planning"></project>&lt;!&ndash; 模块名称 &ndash;&gt;-->
	</params>
	<tables>
		<!--<table  project="basicsdatum"     value="t_basicsdatum_material"   genType="2" ></table>-->
		<table  project="pokaYoke"     value="t_poka_yoke_config"   genType="1,2,3,4" ></table>
<!--		<table       value="t_field_val"   genType="2" ></table>-->
<!--		<table       value="t_upload_file"   genType="2" ></table>-->
<!--		<table       value="t_attachment"   genType="2" ></table>-->
<!--		<table       value="t_technology"   genType="1,2" ></table>-->
<!--		<table       value="t_tag"   genType="1,2,3,4,5" ></table>-->
<!--		<table       value="t_band"   genType="1,2,3,4,5" ></table>-->
<!--		<table       value="t_planning_season"   genType="2" ></table>-->
<!--		<table       value="t_planning_band"   genType="2" ></table>-->
<!--		<table       value="t_planning_category"   genType="2" ></table>-->
<!--		<table       value="t_planning_category_item"   genType="2" ></table>-->
<!--		<table       value="t_planning_category_item_material"   genType="1,2" ></table>-->
	</tables>

	<dataSource>
		<driver      value="com.mysql.jdbc.Driver"></driver>
		<url         value="jdbc:mysql://10.8.252.12:3306/s_pdm_data?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8"></url>
		<username    value="root"></username>
		<password    value="yfg123456."></password>
	</dataSource>
	<author>
		<name value="your name"></name>
		<email value="your email"></email>
	</author>
</config>
