<?xml version="1.0" encoding="UTF-8" ?>
<config>

	<params>
		<!-- Java总路径  生成java文件包的目录 -->
		<osdir       value="E:\code\shangjie\sjs_yfg_pdm\src\main\java\com\base\sbc"></osdir>
		<!-- xml总路径 -->
		<xmlosdir    value="E:\code\shangjie\sjs_yfg_pdm\src\main\resources"></xmlosdir>
		<!-- 总包名 -->
		<javapackage value="com.base.sbc"></javapackage>
		<!-- 模块名称 -->
		<project     value="pdm"></project><!-- 模块名称 -->
	</params>
	<tables>
		<table       value="t_tag"   genType="1,2,3,4" ></table>
	</tables>

    <dataSource>
		<driver      value="com.mysql.jdbc.Driver"></driver>
		<url         value="jdbc:mysql://10.8.251.125:13306/s_pdm_data?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8"></url>
		<username    value="EifiniGys"></username>
		<password    value="EifiniGys"></password>
	</dataSource>
	<author>
		<name  		 value="lile" ></name>
		<email  	 value="lilemyemail@163.com" ></email>
	</author>
</config>
