<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.hangTag.mapper.HangTagMapper">
    <!--
        吊牌表
        创建人：xhj
        邮箱：ch.183.g1114@gmail.com
        创建时间：2023-6-26 17:15:52
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="queryList" resultType="com.base.sbc.module.hangTag.vo.HangTagListVO">
        SELECT
        tsd.style_no AS style,
        tsd.devt_type AS produceType,
        tsd.style_type AS styleType,
        tsd.size_range AS modelType,
        tssc.style_no AS bulkStyleNo,
        tssc.color_name AS color,
        tssc.tag_price AS tagPrice,
        ht.id,
        ht.confirm_date,
        ht.product_name AS productName,
        ht.product_code AS productCode,
        ht.execute_standard_code,
        ht.execute_standard,
        ht.safty_title,
        ht.safty_title_code,
        ht.safty_type_code,
        ht.safty_type,
        ht.quality_grade,
        GROUP_CONCAT( hti.type, '(', hti.percentage, ')' ) AS ingredient,
        ht.warm_tips,
        ht.washing_label,
        ht.producer,
        ht.down_content,
        ht.special_spec,
        ht.washing_material_remarks,
        ht.grading_name,
        ht.technologist_name,
        ht.sample_maker_name,
        ht.place_order_staff_name,
        ht.place_order_date,
        ht.STATUS
        FROM
        t_sample_style_color tssc
        JOIN t_sample_design tsd ON tssc.sample_design_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
        LEFT JOIN t_hang_tag_ingredient hti ON ht.id = hti.hang_tag_id
        <where>
            tssc.del_flag = 0
            AND tssc.company_code = #{dto.companyCode}
            <if test="dto.style != null and dto.style != ''">
                AND tsd.style_no like concat('%',#{dto.style},'%')
            </if>
            <if test="dto.bulkStyleNo != null and dto.bulkStyleNo != ''">
                AND tssc.style_no like concat('%',#{dto.bulkStyleNo},'%')
            </if>
            <if test="dto.ingredient != null and dto.ingredient != ''">
                AND hti.type = like concat('%',#{dto.ingredient},'%')
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND ht.status = #{dto.status}
            </if>

            <if test="dto.confirmDate != null and dto.confirmDate != ''">
                AND ht.confirm_date = #{dto.confirmDate}
            </if>
        </where>
        GROUP BY tssc.style_no
    </select>


    <select id="getDetailsByBulkStyleNo" resultType="com.base.sbc.module.hangTag.vo.HangTagVO">
        SELECT
        tsd.style_no AS style,
        tsd.devt_type AS produceType,
        tsd.style_type AS styleType,
        tsd.size_range AS modelType,
        tssc.style_no AS bulkStyleNo,
        tssc.color_name AS color,
        tssc.tag_price AS tagPrice,
        <!--        st.describe as `describe`,-->
        GROUP_CONCAT( hti.type, '(', hti.percentage, ')' ) AS ingredient,
        ht.*
        FROM
        t_sample_style_color tssc
        JOIN t_sample_design tsd ON tssc.sample_design_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
        LEFT JOIN t_hang_tag_ingredient hti ON ht.id = hti.hang_tag_id
        <where>
            tssc.del_flag = 0
            AND tssc.company_code = #{companyCode}
            and tssc.style_no = #{bulkStyleNo}
        </where>
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

