<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.hangTag.mapper.HangTagMapper">
    <!--
        吊牌表
        创建人：xhj
        邮箱：ch.183.g1114@gmail.com
        创建时间：2023-6-26 17:15:52
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="queryList" resultType="com.base.sbc.module.hangTag.vo.HangTagListVO">
        SELECT
        CONCAT( tsd.design_no, tsd.style_name ) AS style,
        tsd.devt_type AS produceType,
        tsd.style_type AS styleType,
        tsd.design_no AS designNo,
        tssc.style_no AS bulkStyleNo,
        tssc.color_name AS color,
        tssc.tag_price AS tagPrice,
        tbmt.model_Type AS modelType,
        ht.id,
        ht.confirm_date,
        ht.product_name AS productName,
        ht.product_code AS productCode,
        ht.execute_standard_code,
        ht.execute_standard,
        ht.safty_title,
        ht.safty_title_code,
        ht.safty_type_code,
        ht.safty_type,
        ht.quality_grade,
        GROUP_CONCAT( hti.type, '(', hti.percentage, ')' ) AS ingredient,
        ht.warm_tips,
        ht.washing_label,
        ht.storage_demand,
        ht.producer,
        ht.down_content,
        ht.special_spec,
        ht.washing_material_remarks,
        ht.grading_name,
        ht.technologist_name,
        ht.sample_maker_name,
        ht.place_order_staff_name,
        ht.place_order_date,
        ht.STATUS
        FROM
        t_style_color tssc
        JOIN t_style tsd ON tssc.style_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
        LEFT JOIN t_hang_tag_ingredient hti ON ht.id = hti.hang_tag_id
        LEFT JOIN t_basicsdatum_model_type tbmt ON tsd.size_range = tbmt.id
        <where>
            tssc.del_flag = 0
            AND tssc.company_code = #{dto.companyCode}
            <if test="dto.style != null and dto.style != ''">
                AND tsd.style_no like concat('%',#{dto.style},'%')
            </if>
            <if test="dto.bulkStyleNo != null and dto.bulkStyleNo != ''">
                AND tssc.style_no like concat('%',#{dto.bulkStyleNo},'%')
            </if>
            <if test="dto.ingredient != null and dto.ingredient != ''">
                AND hti.type = like concat('%',#{dto.ingredient},'%')
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND ht.status = #{dto.status}
            </if>

            <if test="dto.confirmDate != null and dto.confirmDate != ''">
                AND ht.confirm_date = #{dto.confirmDate}
            </if>
            <if test="dto.designNo != null and dto.designNo != ''">
                AND tsd.design_no = #{dto.designNo}
            </if>

            <if test="dto.styleNo != null and dto.styleNo != ''">
                <choose>
                    <when test='dto.likeQueryFlag == "1"'>
                        AND tssc.style_no like concat('%',#{styleNo},'%')
                    </when>
                    <otherwise>
                        AND tssc.style_no = #{styleNo}
                    </otherwise>
                </choose>
            </if>
        </where>
        GROUP BY tssc.style_no
    </select>

    <select id="hangTagPrinting" resultType="com.base.sbc.module.smp.entity.TagPrinting">
        SELECT
        tssc.color_name AS ColorDescription,
        tssc.color_code AS ColorCode,
        tssc.style_no AS StyleCode,
        tssc.tag_price AS C8_Colorway_SalesPrice,
        tsd.subject as Theme
        tsd.prod_category AS C8_Collection_ProdCategory,
        tsd.prod_category3rd AS C8_Style_3rdCategory,
        tsd.prod_category2rd AS C8_Style_2ndCategory,
        tsd.size_range AS SizeRangeCode,
        tbmt.model_Type AS SizeRangeName,
        tsd.dev_class AS ProductType,
        tsd.prod_category1st AS C8_1stProdCategory,
        tbmt.model_Type AS SizeRangeDimensionType,
        GROUP_CONCAT( hti.type, '(', hti.percentage, ')' ) AS Composition,
        ht.washing_label AS CareSymbols,
        ht.quality_grade AS QualityClass,
        ht.quality_grade AS ProductName,
        ht.safty_type AS SaftyType,
        ht.execute_standard AS OPStandard,
        ht.warm_tips AS Attention,
        ht.safty_title AS SaftyTitle,
        ht.washing_material_remarks AS C8_APPBOM_Comment,
        ht.storage_demand AS StorageRequirement,
        ht.storage_demand AS StorageRequirement
        FROM
        t_style_color tssc
        JOIN t_style tsd ON tssc.style_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
        LEFT JOIN t_hang_tag_ingredient hti ON ht.id = hti.hang_tag_id
        LEFT JOIN t_basicsdatum_model_type tbmt ON tsd.size_range = tbmt.id
        <where>
            tssc.del_flag = 0
            AND tssc.company_code = #{dto.companyCode}
            <choose>
                <when test='dto.likeQueryFlag == "1"'>
                    AND tssc.style_no like concat('%',#{styleNo},'%')
                </when>
                <otherwise>
                    AND tssc.style_no = #{styleNo}
                </otherwise>
            </choose>
        </where>
        GROUP BY tssc.style_no
    </select>


    <select id="getDetailsByBulkStyleNo" resultType="com.base.sbc.module.hangTag.vo.HangTagVO">
        SELECT
        tsd.style_no AS style,
        tsd.devt_type AS produceType,
        tsd.style_type AS styleType,
        tsd.size_range AS modelType,
        tssc.style_no AS bulkStyleNo,
        tssc.color_name AS color,
        tssc.tag_price AS tagPrice,
        <!--        st.describe as `describe`,-->
        GROUP_CONCAT( hti.type, '(', hti.percentage, ')' ) AS ingredient_B,

        ht.*,
        IFNULL(ht.template_part,tsd.pattern_parts) as templatePart
        FROM
        t_style_color tssc
        JOIN t_style tsd ON tssc.style_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
        LEFT JOIN t_hang_tag_ingredient hti ON ht.id = hti.hang_tag_id
        <where>
            tssc.del_flag = 0
            AND tssc.company_code = #{companyCode}
            and tssc.style_no = #{bulkStyleNo}
        </where>
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

