<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.hangtag.mapper.HangTagMapper">

    <insert id="addHangTagInspectCompany">
        INSERT INTO
        t_hang_tag_inspect_company
        (id,inspect_company_id,hang_tag_id,create_id,create_name,create_date,update_id,update_name,update_date,company_code)
        values
        (#{htc.id},#{htc.inspectCompanyId},#{htc.hangTagId},#{htc.createId},#{htc.createName},#{htc.createDate},#{htc.updateId},#{htc.updateName},#{htc.updateDate},#{htc.companyCode})
    </insert>
    <!--
        吊牌表
        创建人：xhj
        邮箱：ch.183.g1114@gmail.com
        创建时间：2023-6-26 17:15:52
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <!-- selectType = 'packBigGoods'则只查大货数据， -->
    <select id="queryList0" resultType="com.base.sbc.module.hangtag.vo.HangTagListVO">
        SELECT
        CONCAT( tsd.design_no, tsd.style_name ) AS style,
        tsd.id as styleId,
        tpi.id as packInfoId,
        tsd.devt_type AS produceType,
        tsd.devt_type AS devtType,
        tsd.receive_dept_id AS receiveDeptId,
        tsd.style_type AS styleType,
        tsd.devt_type_name AS produceTypeName,
        tsd.style_type_name AS styleTypeName,
        tsd.size_range_name AS modelTypeName,
        tsd.design_no AS designNo,
        tsd.brand AS brand,
        tsd.year AS year,
        tsd.season AS season,
        tsd.brand_name AS brandName,
        tsd.design_no as bulkStyleNo,
        tbmt.model_Type AS modelType,
        ht.product_name AS productName,
        ht.product_code AS productCode,
        tsd.prod_category_name,
        ht.*,
        tsp.control_confirm as planCostConfirm,
        tsp.product_hangtag_confirm as productTagPriceConfirm,
        tsp.control_hangtag_confirm as planTagPriceConfirm
        FROM
        t_pack_info tpi
        LEFT JOIN t_pack_info_status ps ON ( tpi.id = ps.foreign_id AND ps.del_flag = '0' )
        LEFT JOIN t_style tsd ON ( tsd.id = tpi.foreign_id )
        LEFT JOIN t_hang_tag ht ON tpi.design_no = ht.bulk_style_no
        LEFT JOIN t_basicsdatum_model_type tbmt ON tsd.size_range = tbmt.id
        left join t_style_pricing tsp on (tsp.pack_id = tpi.id and tsp.del_flag = '0')
        <where>
            ps.pack_type = 'packBigGoods'
            and tsd.design_no is not null
            <if test="dto.style != null and dto.style != ''">
                AND tsd.design_no like concat('%',#{dto.style},'%')
            </if>

            <if test="dto.secondPackagingFormCode != null and dto.secondPackagingFormCode != ''">
                AND ht.second_packaging_form_code = #{dto.secondPackagingFormCode}
            </if>

            <if test="dto.packagingFormCode != null and dto.packagingFormCode != ''">
                AND ht.packaging_form_code = #{dto.packagingFormCode}
            </if>


            <if test="null != dto.bandNames and dto.bandNames.length > 0">
                AND  tssc.band_code IN
                <foreach collection="dto.bandNames" item="i" separator="," open="(" close=")">
                    #{i}
                </foreach>
            </if>

            <if test="dto.planningSeasonId != null and dto.planningSeasonId != ''">
                AND tsd.planning_season_id = #{dto.planningSeasonId}
            </if>

            <if test="dto.bulkStyleNos != null and dto.bulkStyleNos.length > 0 ">

                AND
                (
                    <foreach collection="dto.bulkStyleNos" item="item" index="index" separator="or">
                    tssc.style_no like concat('%',#{item},'%')
                    </foreach>
                )
            </if>
            <if test="dto.ingredient != null and dto.ingredient != ''">
                AND ht.ingredient like concat('%',#{dto.ingredient},'%')
            </if>


            <if test="null != dto.productCodes and dto.productCodes.length > 0">
                AND  ht.product_code IN
                <foreach collection="dto.productCodes" item="i" separator="," open="(" close=")">
                    #{i}
                </foreach>
            </if>

            <if test="null != dto.prodCategorys and dto.prodCategorys.length > 0">
                AND  tsd.prod_category IN
                <foreach collection="dto.prodCategorys" item="i" separator="," open="(" close=")">
                    #{i}
                </foreach>
            </if>

            <if test="dto.status != null and dto.status != ''">
                <choose>
                    <when test="dto.status == 0">
                        AND (ht.status = '' or ht.status = '0' or ht.status is null)
                    </when>
                    <otherwise>
                        AND ht.status = #{dto.status}
                    </otherwise>
                </choose>
            </if>
            <if test="dto.styleNo != null and dto.styleNo != ''">
                <choose>
                    <when test='dto.likeQueryFlag == "1"'>
                        AND tssc.style_no like concat('%',#{styleNo},'%')
                    </when>
                    <otherwise>
                        AND tssc.style_no = #{styleNo}
                    </otherwise>
                </choose>
            </if>
            <if test="dto.year != null and dto.year != ''">
                and tsd.year = #{dto.year}
            </if>
            <if test="dto.produceTypeName != null and dto.produceTypeName != ''">
                and tsd.devt_type_name = #{dto.produceTypeName}
            </if>
            <if test="dto.designNos !=null and dto.designNos.length !=0 ">
                and
                <foreach item="designNo" collection="dto.designNos" open="(" separator="or" close=")">
                    tsd.design_no like concat('%',#{designNo},'%')
                </foreach>
            </if>
            <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
                ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
            </if>
        </where>
        ORDER BY  tpi.create_date DESC
    </select>
    <select id="queryList1" resultType="com.base.sbc.module.hangtag.vo.HangTagListVO">
        SELECT
        CONCAT( tsd.design_no, tsd.style_name ) AS style,
        tsd.id as styleId,
        tpi.id as packInfoId,
        tsd.devt_type AS produceType,
        tsd.devt_type AS devtType,
        tsd.receive_dept_id AS receiveDeptId,
        tsd.style_type AS styleType,
        tsd.devt_type_name AS produceTypeName,
        tsd.style_type_name AS styleTypeName,
        tsd.size_range_name AS modelTypeName,
        tsd.design_no AS designNo,
        tsd.brand AS brand,
        tsd.year AS year,
        tsd.season AS season,
        tsd.brand_name AS brandName,
        tssc.style_no AS bulkStyleNo,
        tssc.color_name AS color,
        tssc.tag_price AS tagPrice,
        tssc.band_name AS bandName,
        tssc.is_trim,
        tssc.bom_status,
        tssc.historical_data historicalData,
        tbmt.model_Type AS modelType,
        ht.product_name AS productName,
        ht.product_code AS productCode,
        tsd.prod_category_name,
        ht.*,
        tsp.control_confirm as planCostConfirm,
        tsp.product_hangtag_confirm as productTagPriceConfirm,
        tsp.control_hangtag_confirm as planTagPriceConfirm
        FROM
        t_style_color tssc
        LEFT JOIN t_style tsd ON tssc.style_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
        LEFT JOIN t_pack_info tpi ON tssc.style_no = tpi.style_no
        LEFT JOIN t_basicsdatum_model_type tbmt ON tsd.size_range = tbmt.id
        left join t_style_pricing tsp on (tsp.pack_id = tpi.id and tsp.del_flag = '0')
        <where>
            tssc.del_flag = 0
            AND tssc.company_code = #{dto.companyCode}
            <if test="dto.style != null and dto.style != ''">
                AND tsd.design_no like concat('%',#{dto.style},'%')
            </if>

            <if test="dto.secondPackagingFormCode != null and dto.secondPackagingFormCode != ''">
                AND ht.second_packaging_form_code = #{dto.secondPackagingFormCode}
            </if>

            <if test="dto.packagingFormCode != null and dto.packagingFormCode != ''">
                AND ht.packaging_form_code = #{dto.packagingFormCode}
            </if>


            <if test="null != dto.bandNames and dto.bandNames.length > 0">
                AND  tssc.band_code IN
                <foreach collection="dto.bandNames" item="i" separator="," open="(" close=")">
                    #{i}
                </foreach>
            </if>

            <if test="dto.planningSeasonId != null and dto.planningSeasonId != ''">
                AND tsd.planning_season_id = #{dto.planningSeasonId}
            </if>

            <if test="dto.bulkStyleNos != null and dto.bulkStyleNos.length > 0 ">

                AND
                (
                    <foreach collection="dto.bulkStyleNos" item="item" index="index" separator="or">
                    tssc.style_no like concat('%',#{item},'%')
                    </foreach>
                )
            </if>
            <if test="dto.ingredient != null and dto.ingredient != ''">
                AND ht.ingredient like concat('%',#{dto.ingredient},'%')
            </if>


            <if test="null != dto.productCodes and dto.productCodes.length > 0">
                AND  ht.product_code IN
                <foreach collection="dto.productCodes" item="i" separator="," open="(" close=")">
                    #{i}
                </foreach>
            </if>

            <if test="null != dto.prodCategorys and dto.prodCategorys.length > 0">
                AND  tsd.prod_category IN
                <foreach collection="dto.prodCategorys" item="i" separator="," open="(" close=")">
                    #{i}
                </foreach>
            </if>

            <if test="dto.status != null and dto.status != ''">
                <choose>
                    <when test="dto.status == 0">
                        AND (ht.status = '' or ht.status = '0' or ht.status is null)
                    </when>
                    <otherwise>
                        AND ht.status = #{dto.status}
                    </otherwise>
                </choose>
            </if>
            <if test="dto.confirmDate != null and dto.confirmDate != ''">
                AND  DATE_FORMAT(ht.confirm_date,'%Y-%m-%d')  = #{dto.confirmDate}
            </if>
            <if test="dto.translateConfirmDate != null and dto.translateConfirmDate != ''">
                AND  DATE_FORMAT(ht.translate_confirm_date,'%Y-%m-%d')  = #{dto.translateConfirmDate}
            </if>
            <if test="dto.styleNo != null and dto.styleNo != ''">
                <choose>
                    <when test='dto.likeQueryFlag == "1"'>
                        AND tssc.style_no like concat('%',#{styleNo},'%')
                    </when>
                    <otherwise>
                        AND tssc.style_no = #{styleNo}
                    </otherwise>
                </choose>
            </if>
            <if test="dto.year != null and dto.year != ''">
                and tsd.year = #{dto.year}
            </if>
            <if test="dto.produceTypeName != null and dto.produceTypeName != ''">
                and tsd.devt_type_name = #{dto.produceTypeName}
            </if>
            <if test="dto.designNos !=null and dto.designNos.length !=0 ">
                and
                <foreach item="designNo" collection="dto.designNos" open="(" separator="or" close=")">
                    tsd.design_no like concat('%',#{designNo},'%')
                </foreach>
            </if>
            <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
                ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
            </if>
        </where>
        ORDER BY   tssc.create_date DESC
    </select>

<!--    <select id="queryList0_COUNT" resultType="com.base.sbc.module.hangtag.vo.HangTagListVO">-->
<!--        SELECT count(0) FROM t_pack_info tpi-->
<!--        <where>-->
<!--            EXISTS( select id from t_pack_info_status ps where tpi.id = ps.foreign_id AND ps.del_flag = '0' and ps.pack_type = 'packBigGoods')-->
<!--            and-->
<!--            EXISTS(-->
<!--                select id from t_style tsd where tsd.id = tpi.foreign_id and tsd.design_no is not null-->
<!--                <if test="ew.hasAlias('tsd')">-->
<!--                    and ${ ew.getSqlByAlias('tsd')}-->
<!--                </if>-->
<!--            )-->
<!--            <if test="ew.hasAlias('ht') or (dto.confirmDate != null and dto.confirmDate != '') or dto.translateConfirmDate != null and dto.translateConfirmDate != ''">-->
<!--            and EXISTS(-->
<!--                select id from t_hang_tag ht where tpi.design_no = ht.bulk_style_no-->
<!--                and ${ ew.getSqlByAlias('ht')}-->
<!--                <if test="dto.confirmDate != null and dto.confirmDate != ''">-->
<!--                    AND  DATE_FORMAT(ht.confirm_date,'%Y-%m-%d')  = #{dto.confirmDate}-->
<!--                </if>-->
<!--                <if test="dto.translateConfirmDate != null and dto.translateConfirmDate != ''">-->
<!--                    AND  DATE_FORMAT(ht.translate_confirm_date,'%Y-%m-%d')  = #{dto.translateConfirmDate}-->
<!--                </if>-->
<!--                )-->
<!--            </if>-->
<!--            <if test="ew.hasAlias('tpi')">-->
<!--                and ${ ew.getSqlByAlias('tpi')}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <select id="queryList1_COUNT" resultType="com.base.sbc.module.hangtag.vo.HangTagListVO">-->
<!--        SELECT-->
<!--        count(0)-->
<!--        FROM-->
<!--        t_style_color tssc-->
<!--        <where>-->
<!--            tssc.del_flag = 0-->
<!--            AND tssc.company_code = #{dto.companyCode}-->
<!--            <if test="ew.hasAlias('tsd')">-->
<!--            and EXISTS(-->
<!--                select id from t_style tsd where tssc.style_id = tsd.id is not null-->
<!--                and ${ ew.getSqlByAlias('tsd')}-->
<!--                )-->
<!--            </if>-->
<!--            <if test="ew.hasAlias('ht') or (dto.confirmDate != null and dto.confirmDate != '') or dto.translateConfirmDate != null and dto.translateConfirmDate != ''">-->
<!--            and EXISTS(-->
<!--                select id from t_hang_tag ht where tssc.style_no = ht.bulk_style_no-->
<!--                and ${ ew.getSqlByAlias('ht')}-->
<!--                <if test="dto.confirmDate != null and dto.confirmDate != ''">-->
<!--                    AND  DATE_FORMAT(ht.confirm_date,'%Y-%m-%d')  = #{dto.confirmDate}-->
<!--                </if>-->
<!--                <if test="dto.translateConfirmDate != null and dto.translateConfirmDate != ''">-->
<!--                    AND  DATE_FORMAT(ht.translate_confirm_date,'%Y-%m-%d')  = #{dto.translateConfirmDate}-->
<!--                </if>-->
<!--                )-->
<!--            </if>-->
<!--            <if test="ew.hasAlias('tssc')">-->
<!--                and ${ ew.getSqlByAlias('tssc')}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

    <select id="hangTagPrinting" resultType="com.base.sbc.module.smp.entity.TagPrinting">
        SELECT
        tssc.color_name AS ColorDescription,
        tssc.color_code AS ColorCode,
        tssc.style_no AS StyleCode,
        tssc.tag_price AS C8_Colorway_SalesPrice,
        tsd.subject as Theme,
        tsd.prod_category AS C8_Collection_ProdCategory,
        tsd.prod_category3rd AS C8_Style_3rdCategory,
        tsd.prod_category2nd AS C8_Style_2ndCategory,
        tsd.size_range AS SizeRangeCode,
        tsd.size_range_name AS SizeRangeName,
        tsd.dev_class AS ProductType,
        tsd.prod_category1st AS C8_1stProdCategory,
        tsd.size_range_name  AS SizeRangeDimensionType,

        ht.washing_label AS CareSymbols,
        ht.quality_grade AS QualityClass,
        ht.quality_grade AS ProductName,
        ht.safty_type AS SaftyType,
        ht.execute_standard AS OPStandard,
        ht.warm_tips AS Attention,
        ht.safty_title AS SaftyTitle,
        ht.washing_material_remarks AS C8_APPBOM_Comment,
        ht.storage_demand AS StorageRequirement

        FROM
        t_style_color tssc
        JOIN t_style tsd ON tssc.style_id = tsd.id
        LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no

        where tssc.del_flag = 0
        <if test="styleNo != null and styleNo != ''">
            AND tssc.style_no = #{styleNo}
        </if>

        GROUP BY tssc.style_no
    </select>


    <select id="getDetailsByBulkStyleNo" resultType="com.base.sbc.module.hangtag.vo.HangTagVO">
        SELECT
        tsd.design_no AS style,
        tsd.brand AS brand,
        tsd.size_range AS modelType,
        tsd.size_range_name AS modelTypeName,
        tsd.designer as designer,
        tsd.pattern_design_name as patternDesign,
        tsd.planning_season_id as planningSeasonId,
        tsd.devt_type_name as produceTypeName,
        tsd.prod_category1st_name as prodCategory1stName,
        tsd.prod_category1st as prodCategory1st,
        tsd.dev_class as devClass,
        tsd.dev_class_name as devClassName,

        <choose>
            <when test="selectType != null and selectType != '' and selectType =='packBigGoods'">
                tsd.design_no as bulkStyleNo,
            </when>
            <otherwise>
                tssc.style_no AS bulkStyleNo,
                tssc.color_name AS color,
                tssc.color_code AS colorCode,
                tssc.tag_price AS tagPrice,
                tssc.is_trim,
                tssc.style_color_pic ,
                tssc.bom_status ,
            </otherwise>
        </choose>

        tsd.style_pic,
        ht.*,
        IFNULL(ht.template_part,tsd.pattern_parts) as templatePart
        FROM
        <choose>
            <when test="selectType != null and selectType != '' and selectType =='packBigGoods'">
                t_pack_info tpi
                LEFT JOIN t_style tsd ON ( tsd.id = tpi.foreign_id )
                LEFT JOIN t_hang_tag ht ON tpi.design_no = ht.bulk_style_no
            </when>
            <otherwise>
                t_style_color tssc
                JOIN t_style tsd ON tssc.style_id = tsd.id
                LEFT JOIN t_hang_tag ht ON tssc.style_no = ht.bulk_style_no
                LEFT JOIN t_pack_info tpi ON tssc.style_no = tpi.style_no
            </otherwise>
        </choose>

        <where>
            <choose>
                <when test="selectType != null and selectType != '' and selectType =='packBigGoods'">
                    AND tpi.design_no in
                    <foreach item="bulkStyleNo" collection="bulkStyleNoList" open="(" separator="," close=")">
                        #{bulkStyleNo}
                    </foreach>
                </when>
                <otherwise>
                    tssc.del_flag = 0
                    AND tssc.company_code = #{companyCode}
                    AND tssc.style_no in
                    <foreach item="bulkStyleNo" collection="bulkStyleNoList" open="(" separator="," close=")">
                        #{bulkStyleNo}
                    </foreach>
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="listHangTagInspectCompany"
            resultType="com.base.sbc.module.hangtag.entity.HangTagInspectCompany">
        SELECT
        inspect_company_id as inspectCompanyId, hang_tag_id as hangTagId ,`status`,del_flag as delFlag
        FROM t_hang_tag_inspect_company
        where inspect_company_id=#{inspectCompanyId} and hang_tag_id=#{hangTagId} and del_flag = '0'
        ORDER BY update_date DESC
        LIMIT 1;
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

