<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.material.mapper.MaterialMapper">

    <select id="listQuery" resultType="com.base.sbc.module.material.vo.MaterialVo">
        select tm.*,tmc.id as collect
        from t_material tm
        left join t_material_collect tmc on tm.id = tmc.material_id and tmc.user_id = #{userId} and tmc.del_flag = '0'
        where tm.del_flag = '0'
        <if test="materialCategoryId != null and materialCategoryId != ''">
            and material_category_id = #{materialCategoryId}
        </if>
        <if test="materialCategoryIds != null and materialCategoryIds.size > 0">
            and tm.material_category_id in
            <foreach collection="materialCategoryIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        and tm.company_code = #{companyCode}
        <if test="ids != null and ids.size > 0">
            and tm.id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        <if test="statusList != null and statusList.length > 0">
            and status in
            <foreach collection="statusList" open="(" separator="," item="item" close=")">
                #{item}
            </foreach>
        </if>
        <if test="fileInfo != null and fileInfo != ''">
            and file_info like concat('%',#{fileInfo},'%')
        </if>
        <if test="search != null and search != ''">
            and (file_info like concat('%',#{search},'%') or remarks like concat('%',#{search},'%') )
        </if>
        <if test="categoryId != null and categoryId != ''">
            and category_id = #{categoryId}
        </if>
        <if test="materialSubcategory != null and materialSubcategory != ''">
            and material_subcategory like concat('%',#{materialSubcategory},'%')
        </if>
        <if test="year != null and year != ''">
            and year = #{year}
        </if>
        <if test="month != null and month != ''">
            and month = #{month}
        </if>
        <if test="season != null and season != ''">
            and season = #{season}
        </if>
        <if test="createId != null and createId != ''">
            and tm.create_id = #{createId}
        </if>
        <if test="occasionCode != null and occasionCode != ''">
            and occasion_code = #{occasionCode}
        </if>
        <if test="colorMatchCode != null and colorMatchCode != ''">
            and color_match_code = #{colorMatchCode}
        </if>
        <if test="useSkill != null and useSkill != ''">
            and use_skill = #{useSkill}
        </if>
        <if test="patternTypeList != null and patternTypeList.length > 0">

            <foreach collection="patternTypeList" open="(" separator="," item="patternType" close=")">
                and FIND_IN_SET(#{patternType}, pattern_types)
            </foreach>

        </if>
        <if test="materialNameList != null and materialNameList.size > 0">
            and tm.material_name in
            <foreach collection="materialNameList" item="materialName" separator="," open="(" close=")">
                #{materialName}
            </foreach>
        </if>
        <if test="companyFlag != null and companyFlag != ''">
            and company_flag = #{companyFlag}
        </if>
        <if test="materialRemarks != null and materialRemarks != ''">
            and material_remarks like concat('%',#{materialRemarks},'%')
        </if>
        <if test="enableFlag != null and enableFlag != ''">
            and enable_flag = #{enableFlag}
        </if>
        <if test="content != null and content != ''">
            and tm.material_name like concat('%',#{content},'%')
        </if>

        <if test="brandList != null and brandList.size > 0">
            and
            <foreach collection="brandList" item="brand" separator=" or " open="(" close=")">
                 FIND_IN_SET(#{brand},brand)
            </foreach>
        </if>

        order by create_date desc
    </select>


    <select id="linkageQueryName" resultType="com.base.sbc.module.material.vo.MaterialChildren">
        select
        material_name as label , material_name as 'value'
        from t_material tm
        where
        tm.del_flag = '0'
        and material_name like  concat('%',#{search},'%')
        <if test="materialCategoryIds != null and materialCategoryIds.size > 0">
            and tm.status = '2'
            and tm.material_category_id  in
            <foreach collection="materialCategoryIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        group by material_name
    </select>
</mapper>
