<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.material.mapper.MaterialMapper">

    <select id="listQuery" resultType="com.base.sbc.module.material.vo.MaterialVo">
        select tm.*,tmc.id as collectId
        from t_material tm
        left join t_material_collect tmc on tm.id = tmc.material_id and tmc.del_flag = '0'
        where tm.del_flag = '0'
        <if test="materialCategoryId != null and materialCategoryId != ''">
            and material_category_id like concat('%',#{materialCategoryId},'%')
        </if>
        and tm.company_code = #{companyCode}
        <if test="ids != null and ids.size > 0">
            and tm.id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        <if test="statusList != null and statusList.length > 0">
            and status in
            <foreach collection="statusList" open="(" separator="," item="item" close=")">
                #{item}
            </foreach>
        </if>
        <if test="fileInfo != null and fileInfo != ''">
            and file_info like concat('%',#{fileInfo},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and category_id = #{categoryId}
        </if>
        <if test="materialSubcategory != null and materialSubcategory != ''">
            and material_subcategory like concat('%',#{materialSubcategory},'%')
        </if>
        <if test="year != null and year != ''">
            and year = #{year}
        </if>
        <if test="month != null and month != ''">
            and month = #{month}
        </if>
        <if test="season != null and season != ''">
            and season = #{season}
        </if>
        <if test="createId != null and createId != ''">
            and tm.create_id = #{createId}
        </if>
        order by create_date desc
    </select>
</mapper>
