<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.material.mapper.MaterialCollectMapper">
    <select id="numList" resultType="java.util.Map">
        select count(*) as collectNum,material_id as materialId from t_material_collect
        where material_id in
        <foreach collection="materialIds" open="(" item="id" close=")" separator=",">
            #{id}
        </foreach>
        and del_flag ='0'
        group by material_id
    </select>


    <select id="getCollectFileCount" resultType="java.lang.Long">
        select count(1) from t_material_collect tmc left join t_material tm on tmc.material_id = tm.id
        where tmc.del_flag  = '0' and tm.del_flag = '0' and tmc.user_id = #{userId}
        <if test="fileIds != null and fileIds.size > 0">
            and tmc.folder_id in
            <foreach collection="fileIds" item="fileId" separator="," open="(" close=")">
                #{fileId}
            </foreach>
        </if>
    </select>

</mapper>
