<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.esorderbook.mapper.EsOrderBookMapper">
    <!--
        ES订货本
        创建人：your name
        邮箱：your email
        创建时间：2024-3-28 16:21:15
        版本号：1.0
      -->
    <select id="findPage" resultType="com.base.sbc.module.esorderbook.vo.EsOrderBookItemVo">
        SELECT
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            item.id id,
            head.id headId,
            head.season_id seasonId,
            head.name headName,
            tpi.id packId,
            tsp.id stylePricingId,
            item.group_id,
            item.group_img,
            item.group_name,
            item.sort_index,
            tsc.band_name,
            tsc.new_date,
            ts.prod_category1st_name,
            ts.prod_category_name,
            ts.prod_category2nd_name,
            tsc.style_no,
            tsc.style_color_pic,
            concat(tsc.color_name,tsc.color_specification) as colorName,
            ts.design_no,
            concat(ts.year, ts.season_name, ts.brand_name) planningSeason,
            -- tsp.woolenYarnProcessingFee,
            -- tsp.sewingProcessingFee,
            -- tsp.coordinationProcessingFee,
            -- tsp.totalCost,
            -- (tsp.totalCost * tsp.actualMagnification) multiplePrice,
            tsc.tag_price,
            tsp.product_style_name,
            -- tsp.actualMagnification,
            (CASE WHEN ts.designer != '' THEN SUBSTRING_INDEX(ts.designer, ',', 1) ELSE '' END) as designer,
            tsc.devt_type_name,
            tsc.supplier_abbreviation,
            tsc.supplier_no,
            tsc.supplier_color,
            item.is_lock
        </if>
        FROM t_es_order_book_item item
        LEFT JOIN t_es_order_book head on item.head_id = head.id and head.del_flag = '0'
        LEFT JOIN t_style_color tsc on item.style_color_id = tsc.id and tsc.del_flag = '0'
        LEFT JOIN t_style ts on tsc.style_id = ts.id and ts.del_flag = '0'
        LEFT JOIN t_pack_info tpi on tpi.style_no = tsc.style_no and tpi.del_flag = '0'
        LEFT JOIN t_style_pricing tsp on tsp.pack_id = tpi.id and tsp.del_flag = '0'
        ${ew.customSqlSegment}
    </select>

</mapper>