<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.fabric.mapper.BasicFabricLibraryMapper">
    <!--
        基础面料库
        创建人：your name
        邮箱：your email
        创建时间：2023-8-17 9:57:23
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="getBasicFabricLibraryList" resultType="com.base.sbc.module.fabric.vo.BasicFabricLibraryListVO">
        SELECT
        bm.id,
        bfl.id as basicFabricLibraryId,
        bfl.create_name,
        bfl.create_date,
        bfl.update_name,
        bfl.update_date,
        bfl.dev_apply_code,
        bfl.dev_code,
        fdb.fabric_label,
        fdb.category1_name,
        fdb.category2_name,
        fdb.category3_name,
        fdb.category_name,
        fdb.price,
        fdb.prod_cycle,
        fdb.short_code,
        fdb.inquiry,
        fdb.to_material_flag,
        fdb.category,
        fdb.material_accept_flag,
        fdb.source,
        fdb.required_arrival_date,
        fdb.moq,
        bm.material_code,
        bm.material_name,
        bm.image_url,
        IFNULL( bm1.confirm_Status, '0' ) AS approveStatus,
        bm.biz_type,
        IFNULL( fda.allocation_status, '3' ) AS devStatus
        FROM
        t_basicsdatum_material bm
        LEFT JOIN t_basic_fabric_library bfl ON bm.id = bfl.material_id
        LEFT JOIN t_fabric_dev_apply fda ON bm.id = fda.material_id
        LEFT JOIN t_fabric_dev_basic_info fdb ON ( fdb.biz_id = bfl.id OR fdb.biz_id = fda.id )
        LEFT JOIN t_basicsdatum_material bm1 ON bm1.id = fdb.to_material_id
        AND bfl.del_flag = '0'
        <where>
            bm.del_flag = '0'
            and bm.company_code = #{dto.companyCode}
            <if test="dto.search != null and dto.search != ''">
                AND (bfl.dev_apply_code LIKE concat('%',#{dto.search},'%') OR fdb.short_code LIKE
                concat('%',#{dto.search},'%') or bfl.dev_code LIKE concat('%',#{dto.search},'%') or bm.material_code
                LIKE concat('%',#{dto.search},'%') or bm.material_name LIKE concat('%',#{dto.search},'%'))
            </if>
            <if test="dto.source != null and dto.source != ''">
                and fdb.source = #{dto.source}
            </if>
            <if test="dto.toMaterialFlag != null and dto.toMaterialFlag != ''">
                and fdb.to_material_flag = #{dto.toMaterialFlag}
            </if>
            <if test="dto.materialAcceptFlag != null and dto.materialAcceptFlag != ''">
                and fdb.material_accept_flag = #{dto.materialAcceptFlag}
            </if>
            <if test="dto.categoryId != null and dto.categoryId != ''">
                AND (bm.category1_code = #{dto.categoryId} OR bm.category2_code = #{dto.categoryId} or
                bm.category3_code = #{dto.categoryId}
                or bm.category_id = #{dto.categoryId})
            </if>
            <choose>
                <when test="dto.bizType != null and dto.bizType !=''">
                    and bm.biz_type = #{dto.bizType}
                </when>
                <otherwise>
                    and ( bm.biz_type ='material' or bm.biz_type ='devApply' or bm.biz_type='fabricLibrary')
                </otherwise>
            </choose>
        </where>
        order by bfl.create_date desc
    </select>

    <select id="getByToMaterialId" resultType="com.base.sbc.module.fabric.entity.BasicFabricLibrary">
        SELECT bfl.id,
               bfl.dev_main_id,
               bfl.dev_apply_code
        FROM t_basic_fabric_library bfl
                 JOIN t_fabric_dev_basic_info fdb ON fdb.biz_id = bfl.id
        WHERE to_material_id = #{toMaterialId}
    </select>


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>