<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.fabric.mapper.FabricDevApplyMapper">
    <!--
        面料开发申请
        创建人：your name
        邮箱：your email
        创建时间：2023-8-17 9:57:28
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="getDevApplyList" resultType="com.base.sbc.module.fabric.vo.FabricDevApplyListVO">
        SELECT fda.id,
        fda.create_name,
        fda.create_date,
        fda.update_name,
        fda.update_date,
        fda.dev_apply_code,
        fda.allocation_status,
        fdb.fabric_label,
        fdb.category1_name,
        fdb.category2_name,
        fdb.category3_name,
        fdb.category_name,
        fdb.price,
        fdb.prod_cycle,
        fdb.short_code,
        fdb.inquiry,
        fdb.to_material_flag,
        fdb.category,
        fdb.material_accept_flag,
        fdb.source,
        fdb.required_arrival_date,
        fdb.moq,
        bm.material_code,
        bm.material_name,
        bm.image_url
        FROM t_fabric_dev_apply fda
        JOIN t_fabric_dev_basic_info fdb ON fdb.biz_id = fda.id
        JOIN t_basicsdatum_material bm ON bm.id = fda.material_id
        <where>
            fda.del_flag = '0'
            and fda.company_code = #{dto.companyCode}
            <if test="dto.search != null and dto.search != ''">
                AND (fda.dev_apply_code LIKE concat('%',#{dto.search},'%') OR fdb.short_code LIKE
                concat('%',#{dto.search},'%'))
            </if>
            <if test="dto.source != null and dto.source != ''">
                and fdb.source = #{dto.source}
            </if>
        </where>
        order by fda.create_date desc
    </select>


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>