<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.patternmaking.mapper.PatternMakingBarCodeMapper">
    <!--
        
        创建人：your name
        邮箱：your email
        创建时间：2024-7-3 15:56:26
        版本号：1.0
      -->

    <select id="findPage" resultType="com.base.sbc.module.patternmaking.vo.PatternMakingBarCodeVo">
        SELECT tpmbc.*,
               ts.design_no,
               tpm.pattern_no,
               tpm.sample_type,
               tpm.sample_type_name,
               tpm.pat_seq_name,
               ts.year_name,
               ts.season_name,
               ts.brand_name,
               tpm.requirement_num,
               tsc.style_no,
               tsc.color_name,
               tsc.style_color_pic,
               ts.style_pic,
               fob.pattern_room,
               fob.tech_receive_time,
               fob.status,
               fob.tech_remarks,
               fob.process_department_date,
               tbs.supplier as supplierName
        FROM t_pattern_making_bar_code tpmbc
                 LEFT JOIN t_pattern_making tpm on tpmbc.head_id = tpm.id and tpm.del_flag = '0'
                 LEFT JOIN t_basicsdatum_supplier tbs on (tpm.supplier_id = tbs.id and tbs.del_flag = '0')
                 LEFT JOIN t_pre_production_sample_task_fob fob on tpmbc.head_id = fob.id and fob.del_flag = '0'
                 LEFT JOIN t_style_color tsc on fob.style_id = tsc.id and tsc.del_flag = '0'
                 LEFT JOIN t_style ts on (tpm.style_id = ts.id or tsc.style_id = ts.id) and ts.del_flag = '0'
        where tpmbc.del_flag = '0'
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
    </select>

    <insert id="saveBarCodeLog">
        INSERT INTO `s_pdm_data`.`t_pattern_making_bar_code_log`(`id`, `head_id`, `img`, `status`, `suggestion`,
                                                                 `suggestion_img`, `suggestion_video`, `pit_site`,
                                                                 `bar_code`, `create_id`, `create_name`, `create_date`,
                                                                 `update_id`, `update_name`, `update_date`, `del_flag`,
                                                                 `company_code`, `suggestion_img1`, `suggestion_img2`,
                                                                 `suggestion_img3`, `suggestion_img4`)
        VALUES (#{id}, #{headId}, #{img}, #{status}, #{suggestion}, #{suggestionImg}, #{suggestionVideo},
                #{pitSite}, #{barCode}, #{createId}, #{createName}, #{createDate}, #{updateId}, #{updateName},
                #{updateDate}, #{delFlag}, #{companyCode}, #{suggestionImg1}, #{suggestionImg2},
                #{suggestionImg3}, #{suggestionImg4})
    </insert>

    <select id="findPageLog" resultType="com.base.sbc.module.patternmaking.vo.PatternMakingBarCodeVo">
        SELECT tpmbc.*,
               ts.design_no,
               tpm.pattern_no,
               tpm.sample_type,
               tpm.sample_type_name,
               tpm.pat_seq_name,
               ts.year_name,
               ts.season_name,
               ts.brand_name,
               tpm.requirement_num
        FROM t_pattern_making_bar_code_log tpmbc
                 LEFT JOIN t_pattern_making tpm on tpmbc.head_id = tpm.id and tpm.del_flag = '0'
                 LEFT JOIN t_style ts on tpm.style_id = ts.id and ts.del_flag = '0'
        where tpmbc.del_flag = '0'
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
    </select>

</mapper>