<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.patternmaking.mapper.PatternMakingMapper">
    <!--
        打版管理
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-5-29 13:33:05
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="technologyCenterTaskList"
            resultType="com.base.sbc.module.patternmaking.vo.TechnologyCenterTaskVo">
        SELECT
        p.id,
        s.design_no,
        s.style_pic,
        s.category_name,
        s.brand,
        s.year,
        s.month,
        s.season,
        s.band_code,
        p.design_send_date,
        p.prm_send_date,
        p.prm_send_status,
        p.urgency,
        p.planning_season_id,
        p.pattern_design_id,
        p.break_off_sample,
        p.break_off_pattern,
        p.pattern_design_name
        FROM
        t_pattern_making p,
        t_sample_design s
        where p.sample_design_id = s.id and p.design_send_status='1'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            and ${ ew.customSqlSegment.substring(5)}
        </if>
    </select>
    <select id="getPatternDesignSampleTypeCount"
            resultType="com.base.sbc.module.patternmaking.vo.PatternDesignSampleTypeQtyVo">
        SELECT
        pattern_design_id ,sample_type ,count(id) as quantity
        FROM
        `t_pattern_making`
        WHERE
        node = '打样任务'
        AND `status` IN ( '已接收', '打版中' )
        AND del_flag =0
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            and ${ ew.customSqlSegment.substring(5)}
        </if>
        group by pattern_design_id ,sample_type

    </select>
    <select id="patternMakingTaskList"
            resultType="com.base.sbc.module.patternmaking.vo.PatternMakingTaskListVo">
        SELECT
        p.id,
        s.design_no,
        s.style_pic,
        s.category_name,
        s.brand,
        s.year,
        s.month,
        s.season,
        s.band_code,
        p.design_send_date,
        p.prm_send_date,
        p.prm_send_status,
        p.urgency,
        p.node,
        p.status,
        p.sgl_kitting,
        p.technician_kitting,
        p.sort,
        p.planning_season_id,
        p.pattern_design_id,
        p.break_off_sample,
        p.break_off_pattern,
        p.update_date,
        p.pattern_design_name
        FROM
        t_pattern_making p,
        t_sample_design s
        where p.sample_design_id = s.id
        and p.design_send_status='1'
        and p.prm_send_status='1'
        and p.del_flag &lt;&gt; '1'
        and s.del_flag &lt;&gt; '1'

        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>


    </select>
</mapper>

