<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.sbc.module.patternlibrary.mapper.PatternLibraryTemplateItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.base.sbc.module.patternlibrary.entity.PatternLibraryTemplateItem">
        <id column="id" property="id" />
        <result column="template_id" property="templateId" />
        <result column="type" property="type" />
        <result column="pattern_type" property="patternType" />
        <result column="pattern_type_name" property="patternTypeName" />
    </resultMap>

</mapper>
