<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.formtype.mapper.FieldManagementMapper">
    <!--
        字段管理表
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-4-15 18:33:51
        版本号：1.0
      -->
    <resultMap type="com.base.sbc.module.formtype.vo.FieldManagementVo" id="fieldManagementMaps">
        <result column="id" property="id"/>
        <result column="form_type_id" property="formTypeId"/>
        <result column="group_name" property="groupName"/>
        <result column="field_name" property="fieldName"/>
        <result column="field_type" property="fieldType"/>
        <result column="field_type_id" property="fieldTypeId"/>
        <result column="field_type_name" property="fieldTypeName"/>
        <result column="field_type_coding" property="fieldTypeCoding"/>
        <result column="default_hint" property="defaultHint"/>
        <result column="is_option" property="isOption"/>
        <result column="is_must_fill" property="isMustFill"/>
        <result column="category_id" property="categoryId"/>
        <result column="season" property="season"/>
        <result column="is_examine" property="isExamine"/>
        <result column="status" property="status"/>
        <result column="sequence" property="sequence"/>
        <result column="field_explain" property="fieldExplain"/>
        <result column="is_compile" property="isCompile"/>
        <result column="structure_tier" property="structureTier"/>
    </resultMap>
    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="getFieldManagementList" resultType="com.base.sbc.module.formtype.vo.FieldManagementVo" resultMap="fieldManagementMaps">
        select
        tfm.id,
        tfm.form_type_id,
        tfm.group_name,
        tfm.field_name,
        tfm.field_type,
        tfm.field_type_id,
        tfm.field_type_name,
        tfm.field_type_coding,
        tfm.default_hint,
        tfm.is_option,
        tfm.option_dict_key,
        tfm.is_must_fill,
        tfm.category_id,
        tfm.category_name,
        tfm.season,
        tfm.is_examine,
        tfm.status,
        tfm.sequence,
        tfm.field_explain,
        tfm.is_compile,
        tfm.form_object_id formObjectId,
        tfm.brand,
        tfm.brand_name,
        tfm.structure_tier
        from t_field_management tfm
        left join t_form_type tft on tfm.form_type_id = tft.id
        where tfm.company_code=#{companyCode}
        and tfm.del_flag='0'
        and tft.status='0'
        <if test="formTypeId !='' and formTypeId != null">
            and tfm.form_type_id=#{formTypeId}
        </if>
        <if test="groupName !='' and groupName != null">
            and tfm.group_name=#{groupName}
        </if>
        <if test="season !='' and season != null">
            and find_in_set(#{season},tfm.season)
        </if>
        <if test="categoryId !='' and categoryId != null">
            and find_in_set(#{categoryId},tfm.category_id)
        </if>
        <if test="formTypeCode !='' and formTypeCode != null">
            and tft.code=#{formTypeCode}
        </if>

        <if test="formTypeCode !='' and formTypeCode != null">
            and tft.code=#{formTypeCode}
        </if>

        <if test="fieldName !='' and fieldName != null">
            and tfm.field_name=#{fieldName}
        </if>

        <if test="fieldExplain !='' and fieldExplain != null">
            and tfm.field_explain=#{fieldExplain}
        </if>

        <if test="ids!=null">
            and tfm.id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order By tfm.group_name desc ,tfm.create_date desc
    </select>

    <select id="getOptionList" resultType="com.base.sbc.module.formtype.entity.Option" >
        select
        option_name optionName,
        id id,
        option_code optionCode,
        field_id fieldId
        from  t_field_option
         where field_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
           and  del_flag='0'
    </select>

    <select id="getTableMessage" resultType="java.util.Map">
        select
        COLUMN_NAME,
        DATA_TYPE,
        COLUMN_COMMENT,
        IS_NULLABLE,
        COLUMN_DEFAULT
        from information_schema.COLUMNS
        where table_name = #{coding}
        and COLUMN_NAME not in('del_flag','update_name','update_id','update_date','create_name','create_id','create_date')
        ORDER BY ORDINAL_POSITION DESC
    </select>
    <select id="getFieldManagementList1" resultType="com.base.sbc.module.formtype.vo.FieldManagementVo" resultMap="fieldManagementMaps">
        select
        tfm.id,
        tfm.form_type_id,
        tfm.group_name,
        tfm.field_name,
        tfm.field_type,
        tfm.field_type_id,
        tfm.field_type_name,
        tfm.field_type_coding,
        tfm.default_hint,
        tfm.is_option,
        tfm.option_dict_key,
        tfm.is_must_fill,
        tfm.category_id,
        tfm.category_name,
        tfm.season,
        tpd.is_examine,
        tpd.design_show_flag,
        tpd.design_examine_flag,
        tpd.research_show_flag,
        tpd.research_examine_flag,
        tpd.replay_show_flag,
        tpd.replay_examine_flag,
        tpd.group_sort,
        tpd.sort,
        tpd.create_date,
        tfm.status,
        tfm.sequence,
        tfm.field_explain,
        tfm.is_compile,
        tfm.form_object_id formObjectId,
        tfm.brand,
        tfm.brand_name,
        tfm.structure_tier
        from t_field_management tfm
        left join t_form_type tft on tfm.form_type_id = tft.id
        left join t_planning_dimensionality tpd on ( tpd.del_flag='0' and tpd.channel = #{channel} and tpd.field_id = tfm.id and tpd.coefficient_flag = '1' and tpd.planning_season_id = #{planningSeasonId} and tpd.prod_category = #{prodCategory})
        where tfm.company_code=#{companyCode}
        and tfm.del_flag='0'
        and tft.status='0'
        <if test="formTypeId !='' and formTypeId != null">
            and tfm.form_type_id=#{formTypeId}
        </if>
        <if test="groupName !='' and groupName != null">
            and tfm.group_name=#{groupName}
        </if>
        <if test="season !='' and season != null">
            and find_in_set(#{season},tfm.season)
        </if>
        <if test="categoryId !='' and categoryId != null">
            and find_in_set(#{categoryId},tfm.category_id)
        </if>
        <if test="formTypeCode !='' and formTypeCode != null">
            and tft.code=#{formTypeCode}
        </if>
        <if test="ids!=null">
            and tfm.id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        ORDER BY  tpd.group_sort ASC,  tpd.sort ASC

    </select>


</mapper>