<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.formType.mapper.FormTypeMapper">
    <!--
        表单类型
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-4-15 9:17:01
        版本号：1.0
      -->
    <resultMap type="com.base.sbc.module.formtype.vo.PagingFormTypeVo" id="formTypeMaps">
        <id column="id" property="id"/>
        <result column="group_name" property="groupName"/>
        <result column="status" property="status"/>
        <association property="list"  javaType="arraylist"  column="id"    select="getFormTypeList"> </association>
    </resultMap>

<!--    <resultMap type="com.base.sbc.module.formtype.vo.PagingFormTypeVo" id="formTypeMaps">
        <id column="ftg_id" property="id"/>
        <result column="group_name" property="groupName"/>
        <result column="status" property="status"/>
        <collection property="list" ofType="com.base.sbc.module.formtype.vo.FormTypeVo"  >
            <id column="ft_id" property="id"/>
            <result column="ft_name" property="groupName"/>
            <result column="coding" property="coding"/>
            <result column="table_explain" property="tableExplain"/>
            <result column="ft_status" property="status"/>
            <result column="group_id" property="groupId"/>
        </collection>
    </resultMap>-->


    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="getFormTypeIsGroup" resultType="com.base.sbc.module.formtype.vo.PagingFormTypeVo" resultMap="formTypeMaps">
        select
        ftg.id ,
        ftg.group_name,
        ftg.status
        from t_form_type_group  ftg
        where ftg.del_flag='0'
        and ftg.company_code=#{companyCode}
        order By ftg.create_date desc
    </select>

    <select id="getFormTypeList" resultType="com.base.sbc.module.formtype.vo.FormTypeVo">
      select
     ft.id ,
     ft.name groupName,
     ft.table_name tableName,
     ft.code,
     ft.table_explain tableExplain,
     ft.status,
     ft.group_id  groupId
     from t_form_type ft
     where ft.del_flag = '0'
     and  ft.group_id=#{id}
    </select>

    <select id="getTableName" resultType="java.util.Map">
     select
     table_name tableName,
     table_comment tableComment
     from information_schema.tables
     where table_schema='s_pdm_data'
    </select>


</mapper>