<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.basicsdatum.mapper.BasicsdatumMaterialMapper">
    <!--
        基础资料-物料档案
        创建人：shenzhixiong
        邮箱：731139982@qq.com
        创建时间：2023-6-26 17:57:17
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
	<select id="getBasicsdatumMaterialColorList" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialColorPageVo">
		SELECT
			t.*,
			t1.colour_name color,
			t1.color16 color_hex
		FROM
			t_basicsdatum_material_color t
			LEFT JOIN t_basicsdatum_colour_library t1 ON t.company_code = t1.company_code
			AND t.color_code = t1.colour_code and t1.del_flag = '0'
		WHERE
			t.company_code = #{companyCode}
			and t.del_flag = "0"
			and t.material_code = #{materialCode}
	</select>
	<select id="getBasicsdatumMaterialColorSelect" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialColorSelectVo">
		SELECT
			t.color_code colour_code,
			t1.colour_name
		FROM
			t_basicsdatum_material_color t
			LEFT JOIN t_basicsdatum_colour_library t1 ON t.company_code = t1.company_code
			AND t.color_code = t1.colour_code and t1.del_flag = '0'
		WHERE
			t.company_code = #{companyCode}
			and t.del_flag = "0"
			and t.material_code = #{materialCode}
	</select>

	<select id="getBasicsdatumMaterialWidthList" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialWidthPageVo">
		SELECT
			t.*,
			t1.name as name
		FROM
			t_basicsdatum_material_width t
			LEFT JOIN t_basicsdatum_specification t1 ON t.company_code = t1.company_code
			AND t.width_code = t1.`code` and t1.del_flag = '0'
		WHERE
			t.company_code = #{companyCode}
			and t.del_flag = "0"
			and t.material_code = #{materialCode}
	</select>

	<select id="getBasicsdatumMaterialWidthSelect" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialWidthSelectVo">
		SELECT
			t.width_code                    as code,
			IFNULL(t1.`name`, t.width_code) as name
		FROM t_basicsdatum_material_width t
				 LEFT JOIN t_basicsdatum_specification t1 ON t.company_code = t1.company_code
			AND t.width_code = t1.`code` and t1.del_flag = '0'
		WHERE t.company_code = #{companyCode}
		  and t.del_flag = "0"
		  and t.material_code = #{materialCode}
	</select>
	<select id="getBomSelMaterialList" resultType="com.base.sbc.module.pack.vo.BomSelMaterialVo">
		SELECT t.*,
			   w.width_code,
			   w.width_name
		FROM (
				 SELECT bm.company_code,
						bm.id AS            material_id,
						bm.material_name,
						bm.material_code,
						bm.status,
						bm.material_code_name,
						bm.image_url,
						bm.category_name,
						bm.category_id,
						bm.category_ids,
						bm.factory_composition,
						bm.ingredient,
						bm.translate,
						bm.loss_rate,
						bmp.quotation_price supplierPrice,
						bmp.supplier_id,
						bmp.supplier_name,
						bmc.color_code,
						gc.colour_name      color,
						gc.color16          color_hex
				 FROM t_basicsdatum_material bm,
					  t_basicsdatum_material_color bmc,
					  t_basicsdatum_material_price bmp,
					  t_basicsdatum_colour_library gc
				 WHERE bm.material_code = bmc.material_code
				   AND bm.material_code = bmp.material_code
				   AND gc.colour_code = bmc.color_code
				   AND gc.del_flag = '0'
				   AND bm.del_flag = '0'
				   AND bmp.del_flag = '0'
				   AND bmc.del_flag = '0'
			 ) t
				 LEFT JOIN (select material_code,
								   group_CONCAT(NAME)       AS width_name,
								   group_CONCAT(width_code) AS width_code
							FROM t_basicsdatum_material_width
							where del_flag = '0'
							GROUP BY material_code) w ON (t.material_code = w.material_code)
			${ew.customSqlSegment}
	</select>

	<!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

