<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.basicsdatum.mapper.BasicsdatumCompanyRelationMapper">
    <!--
        基础资料-品类关系表
        创建人：mengfanjiang
        邮箱：XX.com
        创建时间：2023-7-10 9:24:27
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <delete id="deleteRelation">
        delete from t_basicsdatum_company_relation
        where  data_id =#{dataId} and type=#{type}
    </delete>
</mapper>