<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.basicsdatum.mapper.BasicsdatumMaterialMapper">
    <!--
        基础资料-物料档案
        创建人：shenzhixiong
        邮箱：731139982@qq.com
        创建时间：2023-6-26 17:57:17
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
	<select id="getBasicsdatumMaterialColorList"
		resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialColorPageVo">
		SELECT
			t.*,
		t.color_name as color,
		t1.color_hex
		FROM
		t_basicsdatum_material_color t
		LEFT JOIN t_goods_color t1 ON t.company_code = t1.company_code
		AND t.color_code = t1.color_code and t1.del_flag = '0'
		WHERE
		t.company_code = #{companyCode}
		and t.del_flag = '0'
		and t.material_code = #{materialCode}
		<if test="status!=null and status !=''">
			and t.status=#{status}
		</if>
	</select>
	<select id="getBasicsdatumMaterialColorSelect"
		resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialColorSelectVo">
		SELECT
			t.color_code ,
			t.color_name as color
		FROM
			t_basicsdatum_material_color t
		WHERE
			t.company_code = #{companyCode}
			and t.del_flag = '0'
			and t.material_code = #{materialCode}
	</select>

	<select id="getBasicsdatumMaterialWidthList" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialWidthPageVo">
		SELECT
		t.*

		FROM
		t_basicsdatum_material_width t
		LEFT JOIN t_basicsdatum_specification t1 ON t.company_code = t1.company_code
		AND t.width_code = t1.`code` and t1.del_flag = '0'
		WHERE
		t.company_code = #{companyCode}
		and t.del_flag = '0'
		and t.material_code = #{materialCode}
		<if test="status!=null and status !=''">
			and t.status=#{status}
		</if>
	</select>

	<select id="getBasicsdatumMaterialWidthSelect" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialWidthSelectVo">
		SELECT
			t.width_code   as code,
			t.name
		FROM t_basicsdatum_material_width t
		WHERE t.company_code = #{companyCode}
		  and t.del_flag = '0'
		  and t.material_code = #{materialCode}
	</select>
	
	<select id="getBasicsdatumMaterialOldPage" resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumMaterialOldPageVo">
		SELECT
			t.id,
			t1.material_code,
			t1.material_name,
			t1.status,
			t1.material_code_name,
			t1.category1_name,
			t1.category2_name,
			t1.category3_name,
			t1.category_name,
			t1.image_url,
			t1.year_name,
			t1.season_name,
			t1.ingredient
		FROM t_basicsdatum_material_old t 
			LEFT JOIN t_basicsdatum_material t1 on t.old_material_code = t1.material_code
		WHERE t.company_code = #{companyCode}
		  	and t.del_flag = '0'
		  	and t.material_code = #{materialCode}
	</select>
	
	<select id="getBomSelMaterialList" resultType="com.base.sbc.module.pack.vo.BomSelMaterialVo">
		SELECT id,
			   company_code,
			   id             AS material_id,
			   category1_code,
			   category2_code,
			   category3_code,
			   material_name,
			   material_code,
			   purchase_unit_name,
			   purchase_unit_code,
			   stock_unit_code,
			   stock_unit_name,
			   STATUS,
			   material_code_name,
			   image_url,
			   category3_name AS categoryName,
			   ingredient,
			   loss_rate,
			   supplier_factory_ingredient,
			   auxiliary_material,
			   remarks
		FROM t_basicsdatum_material ${ ew.customSqlSegment}
	</select>

	<select id="getPurchaseMaterialList" resultType="com.base.sbc.module.basicsdatum.vo.WarehouseMaterialVo">
		SELECT
			m.id,
			m.material_code,
			m.material_name,
			m.supplier_id,
			m.supplier_name,
			m.material_category_name,
			m.loss_rate,
			m.supplier_quotation_price,
			w.`name` AS width,
			m.purchase_unit_code,
			m.stock_unit_code,
			c.color_name as color,
			c.supplier_color_code
		FROM
			t_basicsdatum_material AS m
				LEFT JOIN t_basicsdatum_material_width AS w ON m.material_code = w.material_code and w.del_flag = '0'
				LEFT JOIN t_basicsdatum_material_color as c on m.material_code = c.material_code and c.del_flag = '0'
		${ ew.customSqlSegment}
	</select>

	<!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

