<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.basicsdatum.mapper.BasicsdatumModelTypeMapper">
    <!--
        基础资料-号型类型
        创建人：mengfanjiang
        邮箱：2915350015@qq.com
        创建时间：2023-5-20 9:31:14
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="getNameById" resultType="java.lang.String">
        select model_type
        from t_basicsdatum_model_type
        where id = #{id}

    </select>
    <select id="getBasicsdatumModelTypeList"  resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumModelTypeVo">

        SELECT
        mt.*,
        cr.category_name ,
        cr.category_id
        FROM
        t_basicsdatum_model_type mt
        LEFT JOIN ( SELECT data_id, type, GROUP_CONCAT( category_name ) category_name, GROUP_CONCAT( category_id )  category_id FROM t_basicsdatum_company_relation
        <where>
            <if test="categoryList != null and categoryList.size != 0">
                category_id in
                <foreach collection="categoryList" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>

        </where>

        GROUP BY type,data_id ) cr ON mt.id = cr.data_id AND cr.type = 'modelType'
        ${ ew.customSqlSegment}


    </select>


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>