<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.basicsdatum.mapper.BasicsdatumMaterialPriceDetailMapper">
    <!--
        基础资料-物料档案-供应商报价-
        创建人：your name
        邮箱：your email
        创建时间：2023-7-27 17:53:41
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="querySupplierWidth" resultType="com.base.sbc.module.pack.vo.BomSelMaterialVo">

        select
        tbmp.material_code,
        tbmp.width AS `translateCode`,
        tbmp.width_name AS `translate`
        tbmp.color AS `colorCode`
        tbmp.color_name AS `color`
        from   t_basicsdatum_material_price tbmp
        left join t_basicsdatum_material_price_detail tbmpd on tbmp.id = tbmpd.price_id
         ${ ew.customSqlSegment}


    </select>
</mapper>

