<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.basicsdatum.mapper.BasicsdatumRangeDifferenceMapper">
    <!--
        基础资料-档差
        创建人：mengfanjiang
        邮箱：2915350015@qq.com
        创建时间：2023-5-18 19:42:16
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="selectRangeDifferenceList"
            resultType="com.base.sbc.module.basicsdatum.vo.BasicsdatumRangeDifferenceVo">

      SELECT
        rd.*,
        cr.category_name ,
        cr.category_id
      FROM
        t_basicsdatum_range_difference rd
        LEFT JOIN ( SELECT data_id, type, GROUP_CONCAT( category_name ) category_name, category_id FROM t_basicsdatum_company_relation
        <where>
            <if test="categoryList != null and categoryList.size != 0">
                category_id in
                <foreach collection="categoryList" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>

        </where>
	GROUP BY type,data_id ) cr ON rd.id = cr.data_id AND cr.type = 'difference'
    ${ ew.customSqlSegment}

    </select>
</mapper>