<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.common.mapper.AttachmentMapper">
    <!--
        附件
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-5-12 16:05:59
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="findByFId" resultType="com.base.sbc.module.common.vo.AttachmentVo">
        select a.id,
        f.id as file_id,
        f.url,
        f.name,
        f.type,
        f.size,
        a.create_name,
        a.type as attachment_type,
        a.remarks,
        a.create_date
        from t_attachment a,
        t_upload_file f
        where
        a.file_id = f.id
        and a.del_flag = '0'
        and f.del_flag = '0'
        ${ ew.customSqlSegment}

        and a.foreign_id = #{foreignId}

        <if test="type!=null and type!=''">
            and a.type = #{type}
        </if>
        <if test="typeLikeStart!=null and typeLikeStart!=''">
            and a.type like CONCAT(#{typeLikeStart},'%')
        </if>
        order by a.sort,a.id
    </select>
    <select id="findByQw" resultType="com.base.sbc.module.common.vo.AttachmentVo">
        select a.id,
               f.id as file_id,
               f.url,
               f.name,
               f.type,
               f.size,
               a.create_name,
               a.remarks,
               a.create_date,
               a.foreign_id
        from t_upload_file f
                 left join t_attachment a on (a.file_id = f.id)
            ${ ew.customSqlSegment}
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->

</mapper>