<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pack.mapper.PackPricingBomMapper">
    <!--
        资料包-物料清单
        创建人：孟繁江
        邮箱：your email
        创建时间：2024-7-29 17:56:54
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>