<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pack.mapper.PackBomMapper">
    <!--
        资料包-物料清单
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-7-1 16:37:22
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="getBomIdsByVersionId" resultType="java.lang.String">
        select id
        from t_pack_bom
        where bom_version_id = #{bomVersionId}
    </select>

    <select id="fabricSummaryList" parameterType="com.base.sbc.module.sample.dto.FabricSummaryDTO" resultType="com.base.sbc.module.sample.vo.FabricSummaryVO">
        SELECT
        *,
        ( SELECT GROUP_CONCAT( bmw.NAME ) FROM t_basicsdatum_material_width bmw WHERE bmw.material_code = bid.material_code AND del_flag = '0' ) AS width_list
        FROM
        (
        SELECT
            bc.id AS color_id,
            b.id AS book_id,
            bc.order_book_code,
            bc.style_no,
            t1.design_no,
            b.meet_flag,
            b.lock_flag
        FROM
        t_style_order_book_color bc
        LEFT JOIN t_style_order_book b ON bc.order_book_code = b.order_book_code
        LEFT JOIN t_style_group sg ON bc.style_no = sg.style_no
            AND sg.del_flag = '0'
        LEFT JOIN t_style_color t1 ON bc.style_no = t1.style_no
            AND t1.del_flag = '0'
        LEFT JOIN t_style t2 ON t1.style_id = t2.id
            AND t2.del_flag = '0'
        WHERE
            bc.del_flag = '0'
            AND b.meet_flag = '1'
            AND b.company_code = #{dto.companyCode}
            AND bc.company_code = #{dto.companyCode}
            AND t1.company_code = #{dto.companyCode}
            AND t2.company_code = #{dto.companyCode}
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

        ) cbgcd
        LEFT JOIN (
            SELECT
                pb.material_id AS id,
                bm.material_name,
                bm.material_code,
                bm.image_url,
                bm.inquiry_number,
                bm.supplier_name,
                bm.ingredient,
                bm.gram_weight,
                bm.specification,
                bm.density,
                bmp.minimum_order_quantity,
                bm.supplier_quotation_price,
                bm.delivery_name,
                bm.category_name,
                bm.supplier_id,
                bm.supplier_fabric_code,
                pb.supplier_material_code,
                bm.factory_composition,
                pb.part_code,
                pb.part_name,
                pb.color,
                bm.purchase_unit_name,
                pb.price,
                pb.loss_rate,
                pb.cost,
                pb.supplier_price,
                ssc.design_no AS design_no_two,
                ssc.style_no AS style_no_two,
                sd.MONTH,
                sd.band_code,
                pmm.pattern_design_id,
                sd.designer_id
            FROM
                t_pack_bom pb
            LEFT JOIN t_pack_bom_version pbv ON pbv.id = pb.bom_version_id
            LEFT JOIN t_basicsdatum_material bm ON bm.id = pb.material_id
            LEFT JOIN t_basicsdatum_material_price bmp ON bmp.supplier_id = bm.supplier_id
                AND bmp.select_flag = '1'
                AND bmp.del_flag = '0'
            LEFT JOIN t_pack_info pi ON pi.id = pb.foreign_id
                AND pi.del_flag = '0'
            LEFT JOIN t_style sd ON sd.id = pi.foreign_id
                AND sd.del_flag = '0'
            LEFT JOIN t_pattern_making pmm ON pmm.style_id = sd.id
            LEFT JOIN t_style_color ssc ON sd.id = ssc.style_id
                AND ssc.del_flag = '0'
            WHERE
                pb.pack_type = 'packDesign'
                AND pb.company_code = #{dto.companyCode}
                AND pb.del_flag = '0'
                AND pbv.`status` = '1'
            GROUP BY
                ssc.design_no,
                ssc.style_no
            ) bid ON cbgcd.design_no = bid.design_no_two
            AND cbgcd.style_no = bid.style_no_two
        WHERE
            bid.material_code IS NOT NULL
        <if test="null != dto.search and '' != dto.search">
            AND (bid.material_code LIKE concat('%',#{dto.search},'%') OR bid.material_name LIKE concat('%',#{dto.search},'%') OR cbgcd.style_no LIKE concat('%',#{dto.search},'%')
            OR cbgcd.design_no LIKE concat('%',#{dto.search},'%'))
        </if>
        <if test="null != dto.month and '' != dto.month">
            AND bid.month = #{dto.month}
        </if>
        <if test="null != dto.bandCode and '' != dto.bandCode">
            AND bid.band_code = #{dto.bandCode}
        </if>
        <if test="null != dto.monthList">
            AND bid.month in
            <foreach collection="dto.monthList" item=" month" separator="," open="(" close=")">
                #{ month}
            </foreach>
        </if>
        <if test="dto.bandList != null and dto.bandList.size != 0">
            AND bid.band_code in
            <foreach collection="dto.bandList" item="bandCode" separator="," open="(" close=")">
                #{bandCode}
            </foreach>
        </if>
        <if test="null != dto.supplierId and '' != dto.supplierId">
            AND bid.supplier_id = #{dto.supplierId}
        </if>
        <if test="null != dto.patternDesignId and '' != dto.patternDesignId">
            AND bid.pattern_design_id = #{dto.patternDesignId}
        </if>
        <if test="null != dto.designerIds and dto.designerIds.size() > 0">
            AND bid.designer_id IN
            <foreach collection="dto.designerIds" item="designerId" open="(" close=")" separator=",">
                #{designerId}
            </foreach>

        </if>
        GROUP BY
            bid.material_code
    </select>


    <select id="querySampleDesignInfoByMaterialIdCount" parameterType="com.base.sbc.module.sample.dto.FabricSummaryDTO" resultType="integer">
        SELECT
            count( 0 )
        FROM
            (
                SELECT
                    ssc.id
                FROM
                    t_style_color ssc
                        LEFT JOIN t_style sd ON sd.id = ssc.style_id
                        LEFT JOIN t_upload_file uf ON uf.id = sd.style_pic
                        LEFT JOIN (
                        SELECT
                            pb.bom_version_id,
                            pb.id AS pd_id,
                            pi.id AS pi_id,
                            sd.design_no AS design_no_two,
                            pi.style_no,
                            pb.material_id,
                            pb.material_code,
                            pb.material_name,
                            pi.prod_category_name,
                            pi.prod_category2nd_name,
                            pi.prod_category3rd_name,
                            pb.part_name,
                            pb.loss_rate,
                            pb.color,
                            pb.unit_use,
                            (
                                SELECT
                                    SUM( pbz.quantity )
                                FROM
                                    t_pack_bom_size pbz
                                WHERE
                                    pbz.bom_id = pb.id
                                  AND pbz.foreign_id = pi.id
                                  AND pb.bom_version_id = pbz.bom_version_id
                                  AND pbz.del_flag = '0'
                            ) AS production_quantity,
                            pb.purchase_unit_name,
                            bm.supplier_color_no,
                            pmm.pattern_design_id,
                            pmm.pattern_design_name,
                            bm.ingredient,
                            bm.remarks,
                            bm.supplier_id,
                            bm.supplier_name,
                            sd.designer_id
                        FROM
                            t_pack_bom pb
                                LEFT JOIN t_basicsdatum_material bm ON bm.id = pb.material_id
                                LEFT JOIN t_pack_bom_version pbv ON pbv.id = pb.bom_version_id
                                AND pbv.`status` = '1'
                                LEFT JOIN t_pack_info pi ON pi.id = pb.foreign_id
                                AND pi.del_flag = '0'
                                LEFT JOIN t_style sd ON sd.id = pi.foreign_id
                                AND sd.del_flag = '0'
                                LEFT JOIN t_pattern_making pmm ON pmm.style_id = sd.id
                        WHERE
                            pb.pack_type = 'packDesign'
                          AND pb.company_code = #{companyCode}

                          AND pb.del_flag = '0'
                        GROUP BY
                            pi.style_no,
                            sd.design_no
                    ) AS bmid ON bmid.design_no_two = ssc.design_no
                        AND ssc.style_no = bmid.style_no
                WHERE
                    ssc.del_flag = '0'
                  AND ssc.company_code = #{companyCode}

                  AND sd.company_code = #{companyCode}

                  AND uf.company_code = #{companyCode}

                  AND bmid.material_id = #{materialId}

                GROUP BY
                    bmid.design_no_two,
                    bmid.style_no
            ) count1

    </select>

    <select id="querySampleDesignInfoByMaterialIdPage" parameterType="com.base.sbc.module.sample.dto.FabricSummaryDTO" resultType="com.base.sbc.module.sample.vo.MaterialSampleDesignVO">
        SELECT

            bmid.pi_id,
            bmid.material_code,
            bmid.material_name,
            ssc.id,
            uf.url,
            sd.band_code,
            IFNULL(( SELECT b.band_name FROM t_basicsdatum_band b WHERE b.`code` = sd.band_code GROUP BY b.`code` ),'-') AS band_name,
            ssc.style_no,
            ssc.design_no,
            IFNULL(ssc.color_name,'-') AS color_name,
            IFNULL(ssc.color_specification,'-') AS color_specification,
            ssc.sales_type,
            ssc.is_trim,
            ssc.principal_style,
            bmid.prod_category_name,
            bmid.prod_category2nd_name,
            bmid.prod_category3rd_name,
            IF(bmid.part_name IS NOT NULL AND bmid.part_name != '',bmid.part_name,'-') AS part_name,
            IFNULL(ROUND(bmid.loss_rate,2),'-') AS loss_rate,
            IF(bmid.color IS NOT NULL AND bmid.color != '',bmid.color,'-') AS color,
            IFNULL(ROUND(bmid.unit_use,2),'-') AS unit_use,
            IFNULL(ROUND(bmid.production_quantity,2),'-') AS production_quantity,
            IF(bmid.purchase_unit_name IS NOT NULL AND bmid.purchase_unit_name != '',bmid.purchase_unit_name,'-') AS purchase_unit_name,
            IFNULL(ROUND((IF(null = bmid.unit_use,0,bmid.unit_use) * IF(null = bmid.production_quantity,0,bmid.production_quantity)),2),'-') AS required_meters,
            IFNULL(bmid.supplier_color_no,'-') AS supplier_color_no,
            IFNULL(bmid.pattern_design_name,'-') AS pattern_design_name,
            bmid.ingredient,
            bmid.remarks
        FROM
            t_style_color ssc
                LEFT JOIN t_style sd ON sd.id = ssc.style_id
                LEFT JOIN t_upload_file uf ON uf.id = sd.style_pic
                LEFT JOIN (
                SELECT
                    pb.bom_version_id,
                    pb.id AS pd_id,
                    pi.id AS pi_id,
                    sd.design_no AS design_no_two,
                    pi.style_no,
                    pb.material_id,
                    pb.material_code,
                    pb.material_name,
                    pi.prod_category_name,
                    pi.prod_category2nd_name,
                    pi.prod_category3rd_name,
                    pb.part_name,
                    pb.loss_rate,
                    pb.color,
                    pb.unit_use,
                    (select SUM(pbz.quantity)  from t_pack_bom_size pbz where pbz.bom_id = pb.id AND pbz.foreign_id = pi.id AND pb.bom_version_id = pbz.bom_version_id AND pbz.del_flag = '0') AS production_quantity,
                    pb.purchase_unit_name,
                    bm.supplier_color_no,
                    pmm.pattern_design_id,
                    pmm.pattern_design_name,
                    bm.ingredient,
                    bm.remarks,
                    bm.supplier_id,
                    bm.supplier_name,
                    sd.designer_id
                FROM
                    t_pack_bom pb
                        LEFT JOIN t_basicsdatum_material bm on bm.id = pb.material_id
                        LEFT JOIN t_pack_bom_version pbv  on pbv.id = pb.bom_version_id AND pbv.`status` = '1'
                        LEFT JOIN t_pack_info pi ON pi.id = pb.foreign_id
                        AND pi.del_flag = '0'
                        LEFT JOIN t_style sd ON sd.id = pi.foreign_id
                        AND sd.del_flag = '0'
                        LEFT JOIN t_pattern_making pmm ON pmm.style_id = sd.id
                WHERE
                    pb.pack_type = 'packDesign'
                  AND pb.company_code = #{companyCode}
                  AND pb.del_flag = '0'
                GROUP BY
                    pi.style_no,
                    sd.design_no
            ) AS bmid ON bmid.design_no_two = ssc.design_no
                AND ssc.style_no = bmid.style_no
        WHERE
            ssc.del_flag = '0'
          AND ssc.company_code = #{companyCode}
          AND sd.company_code = #{companyCode}
          AND uf.company_code = #{companyCode}
          AND bmid.material_id = #{materialId}
        <if test="null != search and '' != search">
            AND (
                ssc.style_no LIKE concat('%',#{search},'%')
                OR ssc.design_no LIKE concat('%',#{search},'%')
                )
        </if>
        <if test="null != supplierId and '' != supplierId">
            AND bmid.supplier_id = #{supplierId}
        </if>
        <if test="null != patternDesignId and '' != patternDesignId">
            AND bmid.pattern_design_id = #{patternDesignId}
        </if>
        <if test="null != designerIds and designerIds.size() > 0">
            AND bmid.designer_id IN
            <foreach collection="designerIds" item="designerId" open="(" close=")" separator=",">
                #{designerId}
            </foreach>

        </if>
        GROUP BY
            bmid.design_no_two,
            bmid.style_no

    </select>

    <select id="querySampleDesignInfoByMaterialId"  parameterType="com.base.sbc.module.sample.dto.FabricSummaryDTO" resultType="com.base.sbc.module.sample.vo.MaterialSampleDesignVO">
        SELECT
            bmid.pi_id,
            bmid.material_code,
            bmid.material_name,
            ssc.id,
            uf.url,
            sd.band_code,
            ( SELECT b.band_name FROM t_basicsdatum_band b WHERE b.`code` = sd.band_code GROUP BY b.`code` ) AS band_name,
            ssc.style_no,
            ssc.design_no,
            ssc.color_name,
            ssc.color_specification,
            ssc.sales_type,
            ssc.is_trim,
            ssc.principal_style,
            bmid.prod_category_name,
            bmid.prod_category2nd_name,
            bmid.prod_category3rd_name
        FROM
            t_style_color ssc
            LEFT JOIN t_style sd ON sd.id = ssc.style_id
            LEFT JOIN t_upload_file uf ON uf.id = sd.style_pic
            LEFT JOIN (
            SELECT
                pi.id AS pi_id,
                sd.design_no AS design_no_two,
                pi.style_no,
                pb.material_id,
                pb.material_code,
                pb.material_name,
                pi.prod_category_name,
                pi.prod_category2nd_name,
                pi.prod_category3rd_name
            FROM
                t_pack_bom pb
                LEFT JOIN t_pack_bom_version pbv  on pbv.id = pb.bom_version_id
                LEFT JOIN t_pack_info pi ON pi.id = pb.foreign_id
                AND pi.del_flag = '0'
                LEFT JOIN t_style sd ON sd.id = pi.foreign_id
                AND sd.del_flag = '0'
            WHERE
                pb.pack_type = 'packDesign'
                AND pb.del_flag = '0'
                AND pb.company_code = #{companyCode}
		        AND pbv.`status` = '1'
            GROUP BY
                pi.style_no,
                sd.design_no
            ) AS bmid ON bmid.design_no_two = ssc.design_no
            AND ssc.style_no = bmid.style_no
        WHERE
            ssc.del_flag = '0'  AND ssc.company_code = #{companyCode}
          AND bmid.material_id = #{materialId}
        GROUP BY bmid.design_no_two,bmid.style_no
    </select>

    <select id="getPricingMaterialCostsByForeignId" resultType="com.base.sbc.module.pricing.vo.PricingMaterialCostsVO">
        SELECT
            id AS sourceId,
            category_name AS categoryName,
            supplier_id AS supplierId,
            supplier_name AS supplierName,
            part_name AS part,
            part_code AS partCode,
            material_name AS materialsName,
            material_code AS materialsCode,
            translate AS width,
            unit_use AS unitNum,
            unit_code AS unitCode,
            loss_rate AS lossRate,
            planning_looss_rate AS planningLoossRate,
            rated_unit_consumption AS ratedUnitConsumption,
            purchase_currency AS purchaseCurrency,
            price AS price,
            last_time_price AS lastTimePrice,
            contacts AS contacts,
            contacts_phone AS contactsPhone,
            contacts_address AS contactsAddress,
            workshop_group_code AS workshopGroupCode,
            workshop_group AS workshopGroup
        FROM
            t_pack_bom
        WHERE
            del_flag = '0'
          AND foreign_id = #{foreignId}
    </select>

    <select id="getPackBomCalculateBaseVo" resultType="com.base.sbc.module.pack.vo.PackBomCalculateBaseVo">
        SELECT
        pb.bulk_unit_use,
        pb.design_unit_use,
        pb.design_price,
        pb.bulk_price,
        pb.loss_rate,
        pb.amount,
        pb.price_tax,
        pb.price,
        pb.foreign_id,
        pbv.pack_type,
        pb.planning_looss_rate
        FROM
        t_pack_bom pb
        JOIN t_pack_bom_version pbv ON pbv.id = pb.bom_version_id
        WHERE
        pbv.foreign_id IN
        <foreach collection="foreignIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND pbv.del_flag = '0'
        AND pbv.STATUS = '1'
        AND unusable_flag = 0
    </select>
    <select id="countByVersion" resultType="java.lang.Long">
        select count(id)
        from t_pack_bom
        where bom_version_id = #{bomVersionId}
    </select>

    <select id="getPackBomPage" parameterType="com.base.sbc.module.pack.dto.PackCommonPageSearchDto" resultType="com.base.sbc.module.pack.vo.PackBomVo">
        SELECT
            pb.*
        FROM
            t_pack_bom pb
                LEFT JOIN t_pack_bom_color pbc ON pbc.bom_id = pb.id
                AND pbc.del_flag = '0'
        WHERE
            pb.del_flag = '0' AND pb.foreign_id = #{foreignId} AND pb.pack_type = #{packType}
        <if test="null != bomVersionId and '' != bomVersionId">
            AND pb.bom_version_id = #{bomVersionId}
        </if>
        <if test="null != colorCode and '' != colorCode">
            AND pbc.color_code = #{colorCode} AND  pbc.material_color_code is not null AND pbc.material_color_code != ''
        </if>
        <if test="null != unusableFlag and '' != unusableFlag">
            AND pb.unusable_flag = #{unusableFlag}
        </if>
        GROUP BY pb.id
        ORDER BY sort ASC
    </select>
    <select id="getPackSendStatus" resultType="java.util.Map">

    SELECT
        foreign_id,
        CASE
            WHEN SUM(CASE WHEN scm_send_flag IN (1, 3) THEN 1 ELSE 0 END) = COUNT(*) THEN '0'
            WHEN SUM(CASE WHEN scm_send_flag IN (0, 2) THEN 1 ELSE 0 END) = COUNT(*) THEN '1'
            ELSE '2'
        END AS send_status
    FROM
        t_pack_bom WHERE foreign_id IN
        <foreach collection="foreignIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach> and pack_type = 'packDesign' and del_flag = '0' and stage_flag = 'packDesign'
    GROUP BY
        foreign_id;

    </select>

    <!--开放接口查询物料费用数据-->
    <select id="getPackBomListOpen" parameterType="com.base.sbc.module.pack.dto.PackCommonPageSearchDto" resultType="com.base.sbc.module.pack.vo.PackBomVo">
        SELECT
        pb.*
        FROM
        t_pack_bom pb
        LEFT JOIN t_pack_bom_color pbc ON pbc.bom_id = pb.id
        AND pbc.del_flag = '0'
        WHERE
        pb.del_flag = '0'
        AND pb.foreign_id in ( #{foreignId} ) AND pb.pack_type = #{packType}
        <if test="null != colorCode and '' != colorCode">
            AND pbc.color_code in ( #{colorCode} ) AND pbc.material_color_code is not null AND pbc.material_color_code
            != ''
        </if>
        GROUP BY pb.id
        ORDER BY sort ASC
    </select>
    <select id="sumBomCost" resultType="com.base.sbc.module.pack.entity.PackBom">
        select price,pack_type,design_unit_use,bulk_unit_use,loss_rate,planning_looss_rate from t_pack_bom
        where del_flag='0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <select id="bomFabricList" parameterType="com.base.sbc.module.sample.dto.BomFabricDto" resultType="com.base.sbc.module.sample.vo.BomFabricVo">
        select
            t.material_code as material_code,
            tb.material_name as material_name,
            tb.material_code_name as material_code_name,
            tb.brand as brand,
            tb.brand_name as brand_name,
            tb.image_url as image_url,
            tb.material_category as material_category,
            tb.material_category_name as material_category_name,
            tb.ingredient as ingredient,
            bmpc.supplier_name as supplier_name,
            bmpc.supplier_id as supplier_id,
            bmpc.supplier_material_code as supplier_fabric_code,
            bmpc.quotation_price as supplier_quotation_price,
            bmpc.production_day as production_day,
            bmpc.color_name as supplier_color_no,
            tb.supplier_color_say as supplier_color_say,
            tb.supplier_ingredient as supplier_ingredient,
            tb.supplier_factory_ingredient as supplier_factory_ingredient,
            tb.ingredient_say as ingredient_say,
            tfs.minimum_order_quantity as minimum_order_quantity,
            tb.density as density,
            tb.gram_weight as gram_weight,
            tb.material_type as material_type,
            tb.specification as specification,
            tb.is_protection as is_protection,
            case
                when tfs.id is not null then '1'
                else '0'
                end as choice_flag
        from (select pb.material_id , pb.material_code  from t_pack_bom pb  join t_pack_bom_version pbv on pbv.id = pb.bom_version_id and pbv.del_flag = '0' and pbv.pack_type = 'packBigGoods'
                    where  pb.material_id is not null and pb.material_id != '' and pb.company_code = #{dto.companyCode}
                    <if test="dto.materialCodes != null and dto.materialCodes.size() > 0 ">
                        and pb.material_code in
                        <foreach collection="dto.materialCodes" item="materialCode" separator="," open="(" close=")">
                            #{materialCode}
                        </foreach>
                    </if>
                    and pb.del_flag = '0' group by  pb.material_code
              )t
                   join t_basicsdatum_material tb on (t.material_code = tb.material_code and tb.del_flag = '0')
                   left join t_fabric_summary tfs on t.material_code = tfs.material_code and tfs.del_flag = '0'
                   left join t_basicsdatum_material_price bmpc on  (tb.material_code = bmpc.material_code and bmpc.del_flag = '0' and bmpc.select_flag = 1)
                   WHERE tb.company_code= #{dto.companyCode}
                    <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
                        ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
                    </if>
    </select>

    <select id="fabricStyleList" parameterType="com.base.sbc.module.sample.dto.FabricStyleDto" resultType="com.base.sbc.module.sample.vo.FabricStyleVo">
        select
            sc.style_no,
            sc.planning_season_id,
            tpi.style_id,
            sc.style_color_pic,
            sc.color_name,
            sc.color_specification,
            sc.colour_library_id,
            sc.color_code,
            sc.design_no,
            sc.seat_design_no,
            sc.band_code,
            sc.band_name,
            sc.supplier,
            sc.supplier_code,
            sc.supplier_abbreviation,
            sc.supplier_no,
            sc.supplier_color,
            sc.planning_category_item_id,
            sc.sender_designer_id,
            sc.sender_designer_name,
            sc.color_crash,
            sc.remarks,
            t.foreign_id,
            ts.style_pic,
            case
                when tfs.id is not null then '1'
                else '0'
                end as choice_flag
        from
            (select pb.foreign_id  from t_pack_bom pb  join t_pack_bom_version pbv on pb.bom_version_id = pbv.id  and pbv.del_flag = '0' and pbv.pack_type = 'packBigGoods'
             where pb.material_code = #{dto.materialCode}  and pb.del_flag = '0'group by  pb.foreign_id )
                t  join  t_pack_info tpi on tpi.id = t.foreign_id and tpi.del_flag = '0'
                   left join t_style_color sc on tpi.style_color_id = sc.id and sc.del_flag = '0' and sc.bom_status = '1'
                   left join t_fabric_summary_style tfs on sc.style_no = tfs.style_no and tfs.del_flag = '0'
                   left join t_style ts on sc.style_no = ts.style_no and ts.del_flag = '0'
                   where tpi.company_code = #{dto.companyCode}
                    <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
                        ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
                    </if>
    </select>

    <select id="selectByForeignId" resultType="com.base.sbc.module.pack.entity.PackBom">
        select * from t_pack_bom pb left join t_pack_bom_version pbv on pbv.id = pb.bom_version_id and pbv.del_flag = '0' and pbv.pack_type = 'packBigGoods'
        where  pb.del_flag = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>
