<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pack.mapper.PackInfoStatusMapper">
    <!--
        资料包-状态
        创建人：your name
        邮箱：your email
        创建时间：2023-7-13 9:17:47
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="getTechSpecFileIdByStyleNo" resultType="java.lang.String">
        SELECT
            tpis.tech_spec_file_id
        FROM
            t_pack_info_status tpis
                JOIN t_pack_info tpi ON tpi.id = tpis.foreign_id
        WHERE
            tpi.style_no = #{styleNo}
        group by tpi.style_no
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>

