<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pack.mapper.PackInfoMapper">
    <!--
        资料包
        创建人：your name
        邮箱：your email
        创建时间：2023-7-6 17:13:01
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <select id="queryByQw" resultType="com.base.sbc.module.pack.vo.PackInfoListVo">
        select *
        from (SELECT
                  p.*,
                  sd.style_pic,
                  sc.style_color_pic,
                  sd.brand,
                  sd.brand_name,
                  sd.devt_type devtType,
                  sd.devt_type_name devtTypeName,
                  ps.pack_type,
                  ps.enable_flag,
                  ps.scm_send_flag,
                  ps.bom_status,
                  ps.confirm_status,
                  ps.reverse_confirm_status,
                  ps.design_tech_confirm,
                  ps.design_tech_confirm_date,
                  ps.bulk_order_clerk_confirm,
                  ps.bulk_order_clerk_confirm_date,
                  ps.bulk_prod_tech_confirm,
                  ps.bulk_prod_tech_confirm_date,
                  ps.post_tech_confirm,
                  ps.post_tech_confirm_date,
                  ps.size_lock_flag,
                  ps.size_confirm_say,
                  ps.size_confirm_status,
                  ps.tech_spec_lock_flag,
                  ps.tech_spec_confirm_say,
                  ps.tech_spec_confirm_status,
                  ps.tech_spec_file_id,
                  ps.apparel_labels,
                  ps.spec_notice,
                  ps.special_spec_comments,
                  ps.to_big_goods_date,
                  ps.to_design_date,
                  ps.bom_rhd_flag,
                  ps.bom_rhd_date,
                  ps.bom_rhd_user,

                  ps.size_rhd_flag,
                  ps.size_rhd_date,
                  ps.size_rhd_user,

                  ps.tech_rhd_flag,
                  ps.tech_rhd_date,
                  ps.tech_rhd_user,

                  ps.foreign_id as pack_foreign_id,
                  ps.tech_spec_video_file_id
              FROM t_pack_info p
                       LEFT JOIN t_pack_info_status ps ON (p.id = ps.foreign_id and ps.del_flag = '0')
                       left join t_style sd on (sd.id = p.foreign_id)
                       left join t_style_color sc on (sc.id = p.style_color_id and sc.del_flag = '0')
              where p.del_flag = '0') t
            ${ ew.customSqlSegment}
    </select>

    <select id="pricingSelectList" resultType="com.base.sbc.module.pack.vo.PricingSelectListVO">
        SELECT
        tpi.id,
        tpi.design_no,
        tpi.style_no,
        tpi.create_date,
        tpi.prod_category_name as categoryName,
        tpis.confirm_status
        FROM
        t_pack_info tpi
        JOIN t_pack_info_status tpis ON (tpi.id = tpis.foreign_id and tpis.del_flag = '0')
        <where>
            tpi.del_flag='0'
            <if test="dto.designNo != null and dto.designNo != ''">
                AND tpi.design_no LIKE concat('%',#{dto.designNo},'%')
            </if>
            <if test="dto.styleNo != null and dto.styleNo != ''">
                AND tpi.style_no LIKE concat('%',#{dto.styleNo},'%')
            </if>
        </where>
        GROUP BY tpi.id
    </select>

    <select id="getPricingVoById" resultType="com.base.sbc.module.pricing.vo.PricingVO">
        SELECT
        tpi.id AS sourceId,
        tpi.CODE AS sourceCode,
        tpi.style_no AS styleCode,
        tpi.design_no AS designStyleCode,
        tpi.style_name AS styleName,
        tpi.prod_category_name AS categoryName,
        tpi.prod_category AS categoryCode,
        tpi.color_code,
        tpi.color
        FROM
        t_pack_info tpi
        JOIN t_pack_info_status tpis ON ( tpi.id = tpis.foreign_id AND tpis.del_flag = '0' )

        <where>
            tpi.del_flag='0'
            and tpi.id =#{id}
        </where>
        GROUP BY tpi.id
    </select>
    <select id="countByQw" resultType="java.lang.Long">
        select count(id)
        from t_pack_info ${ ew.customSqlSegment}
    </select>
    <select id="queryByListQw" resultType="com.base.sbc.module.pack.vo.PackInfoListVo">

         select *
        from (SELECT
                  p.*,
                  sd.style_pic,
                  sc.style_color_pic,
                  sd.brand,
                  sd.brand_name,
                  sd.devt_type devtType,
                  sd.devt_type_name devtTypeName,
                  ps.pack_type,
                  ps.enable_flag,
                  ps.scm_send_flag,
                  ps.bom_status,
                  ps.confirm_status,
                  ps.reverse_confirm_status,
                  ps.design_tech_confirm,
                  ps.design_tech_confirm_date,
                  ps.bulk_order_clerk_confirm,
                  ps.bulk_order_clerk_confirm_date,
                  ps.bulk_prod_tech_confirm,
                  ps.bulk_prod_tech_confirm_date,
                  ps.post_tech_confirm,
                  ps.post_tech_confirm_date,
                  ps.size_lock_flag,
                  ps.size_confirm_say,
                  ps.size_confirm_status,
                  ps.tech_spec_lock_flag,
                  ps.tech_spec_confirm_say,
                  ps.tech_spec_confirm_status,
                  ps.tech_spec_file_id,
                  ps.apparel_labels,
                  ps.spec_notice,
                  ps.special_spec_comments,
                  ps.to_big_goods_date,
                  ps.to_design_date,
                  ps.bom_rhd_flag,
                  ps.bom_rhd_date,
                  ps.bom_rhd_user,

                  ps.size_rhd_flag,
                  ps.size_rhd_date,
                  ps.size_rhd_user,

                  ps.tech_rhd_flag,
                  ps.tech_rhd_date,
                  ps.tech_rhd_user,

                  ps.foreign_id as pack_foreign_id,
                  ps.tech_spec_video_file_id
              FROM t_pack_info p
                       left join t_style sd on (sd.id = p.foreign_id)
                       left join t_style_color sc on (sc.id = p.style_color_id and sc.del_flag = '0')
                       	LEFT JOIN t_pack_info_status ps on ( p.id = ps.foreign_id and IF(sc.bom_status='0',ps.pack_type='packDesign',ps.pack_type='packBigGoods')   )
              where p.del_flag = '0') t
            ${ ew.customSqlSegment}
    </select>

    <select id="selectFabricSummaryStyle" parameterType="com.base.sbc.module.sample.dto.FabricSummaryV2Dto" resultType="com.base.sbc.module.sample.vo.FabricSummaryInfoVo">
        select
            tsc.style_no,
            tsc.planning_season_id,
            tpi.style_id,
            tsc.style_color_pic,
            tsc.style_color_pic as style_color_pic_url,
            tsc.color_name,
            tsc.color_specification,
            tsc.colour_library_id,
            tsc.color_code,
            tsc.design_no,
            tsc.seat_design_no,
            tsc.band_code,
            tsc.band_name,
            tsc.planning_category_item_id,
            tsc.sender_designer_id,
            tsc.sender_designer_name,
            tsc.color_crash,
            tsc.remarks,
            ts.style_pic,
            ts.style_pic as style_pic_url,
            ts.pattern_design_id,
            ts.pattern_design_name,
            tpb.part_code,
            tpb.part_name,
            tpb.unit_use,
            tpb.id as bom_id,
            tpb.material_code,
            tpb.material_code_name,
            tpb.material_name,
            tpb.material_id,
            tpb.supplier_name ,
            tpb.supplier_material_code as supplier_fabric_code,
            tpb.supplier_id,
            ts.season_name,
            ts.year_name,
            tpb.design_verify,
            tpb.design_verify_date,
            tpb.color as material_color,
            tpb.color_code as material_colorCode,
            tpb.part_code,
            tpb.part_name,
            tpb.collocation_code,
            tpb.collocation_name
        from
            t_pack_info tpi
                left join t_style_color tsc on tpi.style_color_id = tsc.id
                left join t_style ts on ts.id = tsc.style_id
                left join t_pack_bom_version tpbv on tpi.id = tpbv.foreign_id and tpbv.status = '1' and tpbv.pack_type = 'packDesign'
                left join t_pack_bom tpb on tpb.bom_version_id = tpbv.id
        where
            tpi.del_flag = '0' and tsc.del_flag = '0'
          and  ts.del_flag = '0' and  tpbv.del_flag = '0' and  tpb.del_flag = '0'
          and tpi.style_color_id is not null and tpb.id is not null
          <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
          </if>
    </select>
    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>