<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pack.mapper.PackSizeConfigMapper">
    <!--
        资料包-尺寸表配置
        创建人：your name
        邮箱：your email
        创建时间：2023-9-1 14:07:14
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
    <select id="sizeConfigList" resultType="com.base.sbc.module.pack.vo.PackSizeConfigVo">
     select tpsc.*,tpi.style_no
     from t_pack_size_config tpsc
     left join  t_pack_info tpi  on tpi.id = tpsc.foreign_id
     ${ew.customSqlSegment}
    </select>
</mapper>

