<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pack.mapper.PackSizeDetailMapper">
    <!--
        资料包-尺寸表-明细
        创建人：lxl
        邮箱：lxl.fml@gmail.com
        创建时间：2023-8-18 10:56:19
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="selectByForeignId" resultType="com.base.sbc.module.pack.entity.PackSizeDetail" parameterType="java.util.Map">
        SELECT * FROM t_pack_size_detail
        where pack_size_id = #{id}
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>