<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.pricing.mapper.PricingProcessCostsMapper">
    <!--
        加工费用
        创建人：xhj
        邮箱：ch.183.g1114@gmail.com
        创建时间：2023-6-16 15:09:31
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->
    <select id="getByPricingCode" resultType="com.base.sbc.module.pricing.vo.PricingProcessCostsVO">
        SELECT
        id,
        pricing_code,
        process_code,
        part,
        process_name,
        working_hours,
        standard_unit_prices,
        multiple,
        currency,
        quotation_price,
        quotation_price_currency_code,
        quotation_price_currency
        FROM
        t_pricing_process_costs
        <where>
            del_flag = 0
            and pricing_code = #{pricingCode}
            and company_code = #{userCompany}
        </where>
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>