<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.customFile.mapper.FileTreeMapper">
    <!--
        自定义文件夹
        创建人：your name
        邮箱：your email
        创建时间：2024-6-11 11:30:33
        版本号：1.0
      -->

    <update id="updateHiberarchy">
        update t_file_tree
        set parent_ids  = REPLACE(parent_ids,  #{oldId}, #{newId})
        where parent_ids like CONCAT('%', #{oldId}, '%') and del_falg = '0'

    </update>



    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->


    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>