<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.open.mapper.OpenMaterialMapper">

    <select id="getMaterialList" resultType="com.base.sbc.open.dto.OpenMaterialDto">
        SELECT
        	bm.material_code AS mtCode,
        	bm.supplier_id AS spCode,
        	bm.material_type AS mtType,
        	bm.category1_name AS mtBigCtg,
        	bm.category3_name AS mtCtg,
        	bm.material_name AS mtName,
        	bm.purchase_unit_name AS unit,
        	bm.loss_rate AS loss,
        	bm.year_name AS `Year`,
        	bm.season_name AS Season,
        	bm.translate AS width,
        	bm.gram_weight AS weight,
        	bm.material_source AS mtSource,
        	bm.ingredient AS mtComponent,
        	bm.longitude_shrink AS lngShrink,
        	bm.latitude_shrink AS latShrink,
        	bm.`status` AS status,
        	bm.remarks AS remark,
        	bm.image_url AS ImgPath,
        	bmp.quotation_price AS price,
        	bm.update_name AS operator,
        	bm.fabric_property_type_name AS Att02,
        	bm.check_bill_code AS Att04,
        	bm.material_code AS mtSubCode,
        	bm.`supplier_color_no` AS spColorName,
        	bm.create_date
        FROM
        	t_basicsdatum_material AS bm
        	LEFT JOIN t_basicsdatum_material_price AS bmp ON bm.material_code = bmp.material_code and bm.company_code = bmp.company_code
        WHERE
        	bm.company_code = #{companyCode}
--         	and	TO_DAYS(bm.update_date) = TO_DAYS(CURDATE())
			and TO_DAYS(CURDATE()) - TO_DAYS(bm.update_date) = 1
--         	and	bm.create_date >= DATE_SUB(CURDATE(),INTERVAL 7 DAY)
        -- 	and DATE_FORMAT(bm.create_date,'%Y-%m') = DATE_FORMAT(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m')
    </select>
</mapper>
