<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sbc.module.replay.mapper.ReplayRatingMapper">
    <!--
        基础资料-复盘评分
        创建人：KC
        邮箱：kchange0915@gmail.com
        创建时间：2024-6-13 15:15:25
        版本号：1.0
      -->

    <!-- ***********************自定义方法区 不替换的区域【other_start】***************************************** -->

    <sql id="queryStyleListField">
        tsc.id as styleColorId,
        tsc.design_no,
        tsc.style_no as bulkStyleNo,
        tsc.style_color_pic,
        tsc.planning_season_id,
        tsc.band_code,
        tsc.band_name,
        ts.id as styleId,
        ts.style_pic,
        ts.brand,
        ts.brand_name,
        ts.prod_category1st,
        ts.prod_category1st_name,
        ts.prod_category,
        ts.prod_category_name,
        ts.prod_category2nd,
        ts.prod_category2nd_name,
        ts.prod_category3rd,
        ts.prod_category3rd_name,
        trr.*
    </sql>

    <select id="queryStyleList" resultType="com.base.sbc.module.replay.vo.ReplayRatingStyleVO">
        select
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            <include refid="queryStyleListField"/>
        </if>
        from t_style_color tsc
        left join t_replay_rating trr on trr.foreign_id = tsc.id and trr.type = #{ qo.type.code }
        left join t_style ts on ts.id = tsc.style_id
        where tsc.del_flag = '0'
        and tsc.is_defective = '0'
        and tsc.scm_send_flag = '1'
        and tsc.status = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <sql id="queryPatternListField">
        tsc.id as styleColorId,
        tsc.design_no,
        tsc.style_no as bulkStyleNo,
        tsc.style_color_pic,
        tsc.planning_season_id,
        tsc.band_code,
        tsc.band_name,
        ts.id as styleId,
        ts.style_pic,
        ts.brand,
        ts.brand_name,
        ts.prod_category1st,
        ts.prod_category1st_name,
        ts.prod_category,
        ts.prod_category_name,
        ts.prod_category2nd,
        ts.prod_category2nd_name,
        ts.prod_category3rd,
        ts.prod_category3rd_name,
        ts.registering_id,
        ts.registering_no,
        tpl.id as patternLibraryId,
        tpl.code as patternLibraryCode,
        tpl.template_code,
        tpl.template_name,
        ifnull(tpl.style_nos like CONCAT('%', tsc.style_no, '%'), 0) as transferPatternFlag,
        trr.*
    </sql>

    <select id="queryPatternList" resultType="com.base.sbc.module.replay.vo.ReplayRatingPatternVO">
        select
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            <include refid="queryPatternListField"/>
        </if>
        from t_style_color tsc
        left join t_replay_rating trr on trr.foreign_id = tsc.id and trr.type = #{ qo.type.code }
        left join t_style ts on ts.id = tsc.style_id
        left join t_pattern_library tpl on tpl.style_id = ts.id AND tpl.del_flag = '0'

        where tsc.del_flag = '0'
        and tsc.is_defective = '0'
        and tsc.scm_send_flag = '1'
        and tsc.status = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <sql id="queryFabricListField">
        tpb.id as bomId,
        tpb.bom_version_id,
        tpb.material_id,
        tpb.material_code,
        tpb.image_url,
        tpb.ingredient,
        tpb.translate_code,
        tpb.translate,
        group_concat(distinct tpb.color separator '\n') as color,
        group_concat(distinct tpb.color_code) as colorCode,
        tpb.bulk_unit_use,
        tpb.supplier_id,
        tpb.supplier_name,
        tpb.unit_code,
        tpi.id as packInfoId,
        tpi.style_color_id as styleColorId,
        tpi.style_no as bulkStyleNo,
        ts.planning_season_id,
        ts.prod_category1st,
        ts.prod_category1st_name,
        ts.prod_category,
        ts.prod_category_name,
        ts.prod_category2nd,
        ts.prod_category2nd_name,
        ts.prod_category3rd,
        ts.prod_category3rd_name,
        ts.id as styleId,
        ts.design_no,
        ts.brand,
        ts.brand_name,
        ts.band_code,
        ts.band_name,
        ts.style_pic,
        trr.*
    </sql>

    <select id="queryFabricList" resultType="com.base.sbc.module.replay.vo.ReplayRatingFabricVO">
        select
        <if test="ew.sqlSelect != null and ew.sqlSelect != ''">
            ${ew.sqlSelect}
        </if>
        <if test="ew.sqlSelect == null or ew.sqlSelect == ''">
            <include refid="queryFabricListField"/>
        </if>
        from t_pack_bom tpb
        LEFT JOIN t_pack_info tpi ON tpb.foreign_id = tpi.id and tpi.del_flag = '0' and tpi.style_color_id is not null
        LEFT JOIN t_style ts ON tpi.foreign_id = ts.id AND ts.del_flag = '0'
        LEFT JOIN t_replay_rating trr ON trr.foreign_id = tpb.material_id AND trr.type = #{ qo.type.code } AND trr.del_flag = '0'
        where
        tpb.material_code != #{qo.noMaterialCode}
        and tpb.pack_type = 'packBigGoods'
        and tpb.del_flag = '0'
        AND tpb.status = '1'
        AND tpb.category1_code = #{qo.category1Code}
        and EXISTS(select 1 from t_style_color tsc where tsc.id = tpi.style_color_id and tsc.del_flag = '0'
            and tsc.is_defective = '0'
            and tsc.scm_send_flag = '1'
            and tsc.status = '0'
        )
        <if test="qo.needSpecialTotalSum == true">
            and tpi.id is not null
        </if>
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>

    </select>

    <select id="queryStyleList_COUNT" resultType="java.util.Map">
        select
            count(0) as count
            <if test="qo.needSpecialTotalSum == true">
                , group_concat(tsc.style_no) AS bulkStyleNo
            </if>
        from t_style_color tsc
        where tsc.del_flag = '0'
        and tsc.is_defective = '0'
        and tsc.scm_send_flag = '1'
        and tsc.status = '0'
        <if test="ew.hasAlias('ts')">
            and EXISTS(
                select 1 from t_style ts where ts.id = tsc.style_id and ts.del_flag = '0'
                and ${ ew.getSqlByAlias('ts')}
            )
        </if>
        <if test="ew.hasAlias('trr')">
            and EXISTS(
                select 1 from t_replay_rating trr where trr.foreign_id = tsc.id and trr.type = #{ qo.type.code } and trr.del_flag = '0'
                and ${ ew.getSqlByAlias('trr')}
            )
        </if>
        <if test="ew.hasAlias('tsc')">
            and ${ ew.getSqlByAlias('tsc')}
        </if>
        <if test="ew.hasAlias('COMMON')">
            and ${ ew.getSqlByAlias('COMMON')}
        </if>
    </select>

    <select id="queryPatternList_COUNT" resultType="java.util.Map">
        select
            count(0) as count,
            ifnull(sum( ts1.count ),0) AS useCount,
            ifnull(sum( ts2.count ),0) AS productionCount
            <if test="qo.needSpecialTotalSum == true">
                , group_concat(tsc.style_no) AS bulkStyleNo
            </if>
        from t_style_color tsc
        left join t_replay_rating trr on trr.foreign_id = tsc.id and trr.type = #{ qo.type.code }
        left join t_style ts on ts.id = tsc.style_id
        left join t_pattern_library tpl on tpl.style_id = ts.id AND tpl.del_flag = '0'
        LEFT JOIN ( SELECT count(0) AS count, ts1.registering_id FROM t_style ts1 WHERE ts1.del_flag = '0' GROUP BY ts1.registering_id ) ts1 ON ts1.registering_id = tpl.id
        LEFT JOIN (
            SELECT
                ts2.registering_id, count(0) AS count
            FROM
            t_style ts2
            LEFT JOIN t_order_book tob ON tob.season_id = ts2.planning_season_id AND tob.del_flag = '0'
            WHERE ts2.del_flag = '0'
            AND EXISTS (
                SELECT 1 FROM t_order_book_detail tobd
                LEFT JOIN t_style_color tsc ON tobd.style_color_id = tsc.id AND tsc.style_id = ts2.id AND tsc.del_flag = '0'
                WHERE tobd.del_flag = '0'
                AND tobd.order_book_id = tob.id
                AND tobd.order_status = #{ qo.orderBookStatus.code }
            )
            GROUP BY ts2.registering_id
        ) ts2 ON ts2.registering_id = tpl.id
        where tsc.del_flag = '0'
        and tsc.is_defective = '0'
        and tsc.scm_send_flag = '1'
        and tsc.status = '0'
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ ew.customSqlSegment.startsWith("WHERE")?ew.customSqlSegment.replace("WHERE","AND "):ew.customSqlSegment}
        </if>
    </select>

    <select id="queryFabricList_COUNT" resultType="java.util.Map">
        select count(0) as count,
        sum(temp.bulkUnitUse) AS bulkUnitUse
        <if test="qo.needSpecialTotalSum == true">
            , group_concat(temp.bulkStyleNo) AS bulkStyleNo
            , group_concat(temp.materialCode) AS materialCode
        </if>
        from (
        select SQL_BIG_RESULT
            sum(tpb.bulk_unit_use) AS bulkUnitUse
            <if test="qo.needSpecialTotalSum == true">
                , group_concat(tpi.style_no) AS bulkStyleNo
                , group_concat(tpb.material_code) AS materialCode
            </if>
        from t_pack_bom tpb
        <if test="qo.needSpecialTotalSum == true">
            LEFT JOIN t_pack_info tpi ON tpb.foreign_id = tpi.id and tpi.del_flag = '0' and tpi.style_color_id is not null
        </if>
        where tpb.material_code != #{qo.noMaterialCode}
        and tpb.pack_type = 'packBigGoods'
        and tpb.del_flag = '0'
        AND tpb.status = '1'
        AND tpb.category1_code = #{qo.category1Code}
        and EXISTS(select 1 from t_style_color tsc where tsc.id = tpi.style_color_id and tsc.del_flag = '0'
            and tsc.is_defective = '0'
            and tsc.scm_send_flag = '1'
            and tsc.status = '0'
        )
        <if test="ew.hasAlias('tpi')">
            <if test="qo.needSpecialTotalSum == true">
                and ${ ew.getSqlByAlias('tpi')}
            </if>
            <if test="qo.needSpecialTotalSum != true">
                and EXISTS(
                select 1 from t_pack_info tpi where tpb.foreign_id = tpi.id and tpi.del_flag = '0' and tpi.style_color_id is not null
                and ${ ew.getSqlByAlias('tpi')}
                )
            </if>

        </if>
        <if test="ew.hasAlias('ts')">
            and EXISTS(
            select 1 from t_style ts
            left join t_pack_info tpi on tpi.foreign_id = ts.id and tpi.del_flag = '0' and tpi.style_color_id is not null
            where tpb.foreign_id = tpi.id and ts.del_flag = '0'
            and ${ ew.getSqlByAlias('ts')}
            )
        </if>
        <if test="ew.hasAlias('trr')">
            and EXISTS(
            select 1 from t_replay_rating trr where trr.foreign_id = tpb.material_id AND trr.type = #{ qo.type.code } AND trr.del_flag = '0'
            and ${ ew.getSqlByAlias('trr')}
            )
        </if>
        <if test="ew.hasAlias('tpb')">
            and ${ ew.getSqlByAlias('tpb')}
        </if>
        <if test="ew.hasAlias('COMMON')">
            and ${ ew.getSqlByAlias('COMMON')}
        </if>
        group by tpb.material_code, tpb.foreign_id
        ) temp
    </select>

    <!-- ***********************自定义方法区 不替换的区域【other_end】******************************************** -->
</mapper>